/*   
 * Overwrite bad fonts for Chinese character
*/
/* ======= Base ======= */
body {
  /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
}
.header .logo {
  /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
  
}

small {
  color: #FFFFFF !important;
  /*font-weight: 300 !important;*/
}

.dj-centered{
    float: none;
    margin: 0px auto;
}

.dj-container { 
  display: block;
  margin: auto;
  width: 320px;
}

.dj-container-bd { 
  display: block;
  margin: 0px auto;
  padding: 20px;
  width: 280px;
  height: 320px;
  border-style: solid;
  border-width: 1px;
}


.dj-container-bd-sm { 
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
  height: 40px;
  border-style: solid;
  border-width: 2px;
}

.dj-text-sm { 
  font-size: 13px !important;
}

.dj-black{
  color: black !important;
}

.dj-section {
  padding:0px !important;
}

.dj-padding {
  padding:20px !important; 
}

.dj-padding2 {
  padding:20px 60px 5px 60px !important; 
}

.dj-margin {
  margin:10px !important; 
}

.dj-height {
  height: 160px !important; 
}

.dj-y {
  margin: 5px 0px 5px 0px; 
}

.dj-w {
  display: block;
  margin: 0px auto;
  width: 280px;
  padding: 0px; 
}

.btn-dj {
  padding: 9px 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  opacity: 0.6;
  background-color: #754fa5;

}

.flip {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 320px;
   height: 120px;
   position: relative;
   margin: 10px auto;
}
.flip .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  
  text-align: center;
  /*line-height: 200px;*/
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */

}
.flip .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 10px;
}
.flip .card .back {
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  padding: 10px 15px;
    
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

@media (min-width: 992px) {
    .flip {
   width: 320px;
  }
}

@media (max-width: 767px) {
  .flip {
   width: 100%;
  }
}

.navbar {
  background-color: black;
}

.navbar-brand {
  float: left;
  padding: 9px 15px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index: 10;
  display: inline-block;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}

.navbar-brand > strong {
  color: white;
  font-weight: 700;
  font-size:24px;
} 

.error {
  color: white !important;
}

