<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid container-fluid-spacious">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-emphasized" href="/test2">
          <span class="icon icon-leaf navbar-brand-icon"></span>
          鼎鲸证券－专户理财
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/test3">条件筛选</a>
          </li>
          <li >
            <a href="/test2">我的收藏</a>
          </li>
          <li >
            <a href="/test2">我的组合</a>
          </li>
          <li >
            <a href="/">鼎鲸主页</a>
          </li>
          <li >
            <a href="http://c1cre709.caspio.com/folderlogout">登出</a>
          </li>
        </ul>
        <form class="form-inline navbar-form navbar-right">
          <div class="input-with-icon">
            <input class="form-control" type="text" placeholder="搜索基金...">
            <span class="icon icon-magnifying-glass"></span>
          </div>
        </form>
      </div>
    </div>
  </nav>