
<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<div class="wsite-spacer" style="height:50px;"></div>
<h2 class="wsite-content-title" style="text-align:center;"><strong><font size="7">&#19977;&#22823;&#26680;&#24515;</font></strong></h2>

<div class="wsite-spacer" style="height:50px;"></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:33.838383838384%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a>
<img src="/images/9067745.png?91" alt="Picture" style="width:91;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-spacer" style="height:50px;"></div>


					
				</td>				<td class="wsite-multicol-col" style="width:66.161616161616%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;">&#20114;&#32852;&#32593;&#35777;&#21048;&#24320;&#25143;</h2>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:left;"><font size="4">新一代互联网券商平台。美股、港股、A股（沪港通）、欧股任意。3分钟填表申请，36小时审核开户，24小时客服。让您体验最优质的服务！</font></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="/public/download" >
<span class="wsite-button-inner">软件下载</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div class="wsite-spacer" style="height:50px;"></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:33.838383838384%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a>
<img src="/images/1071834.png?95" alt="Picture" style="width:95;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-spacer" style="height:50px;"></div>


					
				</td>				<td class="wsite-multicol-col" style="width:66.161616161616%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;">&#26234;&#33021;&#25237;&#36164;&#39038;&#38382;</h2>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:left;"><font size="4">最领先的智能化投资服务平台。您的风险承受力，决定了您的目标收益率。我们的智能系统为您量身打造不同的投资方案。</font></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="/public/risk" >
<span class="wsite-button-inner">开始测试</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div class="wsite-spacer" style="height:50px;"></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:33.838383838384%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a>
<img src="/images/6908728.png?90" alt="Picture" style="width:90;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-spacer" style="height:50px;"></div>


					
				</td>				<td class="wsite-multicol-col" style="width:66.161616161616%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;"><span>&#20010;&#20154;&#19987;&#25143;&#31649;&#29702;</span></h2>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:left;"><font size="4">最专业的个人专户托管。几百只基金，无穷的组合，让鼎鲸帮您量身打造最适合您的投资！</font></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="/public/login" >
<span class="wsite-button-inner">马上开户</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div class="wsite-spacer" style="height:80px;"></div>

<h2 class="wsite-content-title" style="text-align:center;"><span id="selectionBoundary_1451619280160_03804832184687257">&#65279;</span><font><strong><font size="7">&#20845;&#22823;&#29305;&#28857;</font></strong></font></h2>
<div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<section class="section2">
<div class="container flip-card-container">
<div class="pager text-center">
<div class="flip-card-row">
<div class="flip-card flip-card-custom" onclick="flip_card(this);">
<div class="front">
<div class="icon custom"></div>
<div class="title">
免费实时行情
</div>
</div>
<div class="back">
<div class="title">免费实时行情</div>
<div class="line"></div>
<div class="text">
弥财为每一位投资人设定与其风险程度相匹配的投资方案，将每一位投资人资产的风险程度降到可接受的范围内同时使其收益最大化
</div>
</div>
</div>
<div class="flip-card flip-card-global" onclick="flip_card(this);">
<div class="front">
<div class="icon global"></div>
<div class="title">
移动端交易平台
</div>
</div>
<div class="back">
<div class="title">移动端交易平台</div>
<div class="line"></div>
<div class="text">
分散投资，ETF指数覆盖全球，ETF
中可能包含数以百计或千计的证券，证券数目多于许多主动式管理基金，同时也多于一般的个别证券组合。多元化投资可降低任何单一证券或市场板块波动带来的影响，从而有助于控制风险。
</div>
</div>
</div>
<div class="flip-card flip-card-rebalance" onclick="flip_card(this);">
<div class="front">
<div class="icon rebalance"></div>
<div class="title">
最低交易佣金
</div>
</div>
<div class="back">
<div class="title">最低交易佣金</div>
<div class="line"></div>
<div class="text">
投资组合的自动资产调整是指当投资组合当前资产配置与目标配置出现偏差时，及时调整各类资产的权重以实现投资组合的资产配置初始目标水平的策略。自动资产调整是投资组合管理和风险控制的重要工具之一，有助于确保投资计划与其投资目标相符。
</div>
</div>
</div>
<div class="flip-card flip-card-safe" onclick="flip_card(this);">
<div class="front">
<div class="icon safe"></div>
<div class="title">
智能投资系统
</div>
</div>
<div class="back">
<div class="title">智能投资系统</div>
<div class="line"></div>
<div class="text">
大部分 ETF 持有与其基准指数相同的证券或代表性样本，您可以隨时知悉自己的投资状況。并且弥财不设资金池，所以投资人的资金不会进入弥财而是直接进入投资人自己的证券账户。
</div>
</div>
</div>
<div class="flip-card flip-card-cost" onclick="flip_card(this);">
<div class="front">
<div class="icon cost"></div>
<div class="title">
轻松专户理财
</div>
</div>
<div class="back">
<div class="title">轻松专户理财</div>
<div class="line"></div>
<div class="text">
与主动式管理基金相比，ETF 的总开支比率或年度营运成本估平均资产净值的百分比一般较低。成本较低意味着投资者享有较多基金回报。
</div>
</div>
</div>
<div class="flip-card flip-card-simpleness" onclick="flip_card(this);">
<div class="front">
<div class="icon simpleness"></div>
<div class="title">
投资教育学堂
</div>
</div>
<div class="back">
<div class="title">投资教育学堂</div>
<div class="line"></div>
<div class="text">
ETF 于证券交易所买卖，故可于交易所开市时随时通过投资顾问或经济账户买卖。并且所有操作都可以通过app操作完成，方便简单。
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>

<div class="wsite-spacer" style="height:50px;"></div>

<h2 class="wsite-content-title" style="text-align:center;"><strong><font size="7">&#22823;&#20332;&#36861;&#36394;</font></strong></h2>

<div class="wsite-spacer" style="height:50px;"></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:58.080808080808%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="/images/2635780.png?545" alt="Picture" style="width:545;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:41.919191919192%; padding:0 15px;">
					
						

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:left;"><font size="4">&#24819;&#30693;&#36947;&#22823;&#20332;&#20204;&#22312;&#24819;&#20160;&#20040;&#21527;&#65311;<br />&#24819;&#20102;&#35299;&#22823;&#20332;&#20204;&#30340;&#25237;&#36164;&#31574;&#30053;&#21527;&#65311;<br />&#24819;&#36861;&#36394;&#22823;&#20332;&#20204;&#30340;&#25345;&#20179;&#20179;&#20301;&#21527;&#65311;<br /><br />&#40718;&#26032;&#20026;&#24744;&#23454;&#26102;&#25512;&#36865;&#22823;&#20332;&#26368;&#26032;&#21160;&#24577;&#65292;&#35753;&#24744;&#20174;&#23398;&#20064;&#22823;&#20332;&#20013;&#25366;&#25496;&#25237;&#36164;&#30340;&#30495;&#35867;&#65281;</font></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="/public/niuren" >
<span class="wsite-button-inner">大佬追踪</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div class="wsite-spacer" style="height:100px;"></div>

<h2 class="wsite-content-title" style="text-align:center;"><span id="selectionBoundary_1451622666826_12228050758130848">&#65279;</span><strong><font size="7">&#37329;&#34701;&#23398;&#22530;</font></strong></h2>

<div class="wsite-spacer" style="height:50px;"></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:58.080808080808%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="/images/7779979.png?545" alt="Picture" style="width:545;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:41.919191919192%; padding:0 15px;">
					
						

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:left;"><font size="4">&#25552;&#20379;&#26368;&#26377;&#25928;&#30340;&#25237;&#36164;&#20449;&#24687;&#65292;&#35753;&#25237;&#36164;&#32773;&#36186;&#38065;&#21464;&#36731;&#26494;&#12290;&#21548;&#21462;&#19987;&#19994;&#20154;&#22763;&#23454;&#26102;&#28857;&#35780;&#65292;&#38543;&#26102;&#36856;&#21457;&#20986;&#25237;&#36164;&#28789;&#24863;&#65281;<br /><br />&#8203;&#37329;&#34701;&#23398;&#22530;&#65292;&#24110;&#25237;&#36164;&#32773;&#23398;&#20064;&#37329;&#34701;&#30693;&#35782;&#65292;&#25552;&#21319;&#36186;&#38065;&#33021;&#21147;&#65281;</font></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="/public/school" >
<span class="wsite-button-inner">金融学堂</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>
<div class="wsite-spacer" style="height:100px;"></div>
</div>