<style>
    div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #252830;
    color: #51586a;
    margin-right: 0.5em;
    border-color: #51586a;
    border: 1px solid #434857;
}

div.pager span.active{
	background: #51586a;
    color: #fff;
}

table.tablesorter{
text-align:left;
}
</style>


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/chart.js"></script>
<script src="/assets/js/tablesorter.min.js"></script>
<script src="/assets/js/toolkit.js"></script>
<script src="/assets/js/application.js"></script>
<script src="/assets/js/typeahead.bundle.js"></script>
<script src="/assets/js/remote.js"></script>

<script>
    // execute/clear BS loaders for docs
    $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    /*
    window.onorientationchange = function() { 
        var orientation = window.orientation; 
            switch(orientation) { 
                case 0: window.location.reload(); 
                break; 
                case 90: window.location.reload(); 
                break; 
                case -90: window.location.reload(); 
                break; } 
    };
    */
    window.onorientationchange = function() { window.location.reload(); };


	
$(document).ready(function(){
     $.ajax({ url: '/users/flist',
           success: function(response){
              $('#tablelist').html(response);
	      $('#example').tablesorter(  {headers: { 0 : {sorter: false} } } );
	      var sorting = [[1,0]]; 
              $("#example").trigger("sorton",[sorting]); 
	      $('#selectAll').bind('click',function() {
			$(this).is(":checked")? $('.select-row').prop("checked", true) : 
        		   $('.select-row').prop("checked", false);
    		});
	      $("#deletefundbut").hide();
	      loadPage();
           }
        });

	$('#mycollection').click(function(){
	$.ajax({
		type: "GET",
		url: '/users/slist',
		success: function(response){
		        $('#mycollection').addClass('active').siblings().removeClass('active');	
			$('#tablelist').html(response);
 			$('#example').tablesorter( {headers: { 0 : {sorter: false} } }  );
 			var sorting = [[1,0]];
 			$("#example").trigger("sorton",[sorting]);
			$('#selectAll').bind('click',function() {
                        $(this).is(":checked")? $('.select-row').prop("checked", true) :
                           $('.select-row').prop("checked", false);
                });
			//$("#tosavefundbut").disabled=true;
    		 	//document.getElementById("tosavefundbut").disabled=true;
			 $("#tosavefundbut").hide();
			 $("#deletefundbut").show();
			  $("#deletecombo").hide();
			   $("#addtocombo").show();
			 document.getElementById("addtocombo").disabled=false;
			document.getElementById("deletefundbut").disabled=false;

 			loadPage();

           		} 
		});

	});

	
	 $('#fundlist').click(function(){
        	$.ajax({
                type: "GET",
                url: '/users/flist',
                success: function(response){
                        $('#fundlist').addClass('active').siblings().removeClass('active');
                        $('#tablelist').html(response);
                        $('#example').tablesorter( {headers: { 0 : {sorter: false} } } );
                        var sorting = [[1,0]];
                        $("#example").trigger("sorton",[sorting]);
			$('#selectAll').bind('click',function() {
                        $(this).is(":checked")? $('.select-row').prop("checked", true) :
                           $('.select-row').prop("checked", false);
                });
			document.getElementById("tosavefundbut").disabled=false;
			document.getElementById("addtocombo").disabled=false;
			$("#tosavefundbut").show();
                        $("#deletefundbut").hide();
			 $("#deletecombo").hide();
			 $("#addtocombo").show();
                        loadPage();

                        }
                });

        });

	$('#mycombolist').click(function(){
                $.ajax({
                type: "GET",
                url: '/users/clist',
                success: function(response){
                        $('#mycombolist').addClass('active').siblings().removeClass('active');
                        $('#tablelist').html(response);
                        $('#example').tablesorter(  {headers: { 0 : {sorter: false} } } );
                        var sorting = [[1,0]];
                        $("#example").trigger("sorton",[sorting]);
			$('#selectAll').bind('click',function() {
       		                 $(this).is(":checked")? $('.select-row').prop("checked", true) :
               		            $('.select-row').prop("checked", false);
	                });

			document.getElementById("tosavefundbut").disabled=true;
			document.getElementById("addtocombo").disabled=true;
			document.getElementById("deletefundbut").disabled=true;
            $("#tosavefundbut").hide();
            $("#deletefundbut").hide();
			$("#addtocombo").hide();	
			$("#deletecombo").show();
                        loadPage();

                        }
                });

        });





$("#usearch").submit(function(event) {
                event.preventDefault();
                var formURL = $('#usearch').attr("action");
		var sTime = $('#startTime').val()=="" ? "01/01/1971" : $('#startTime').val();
		var eTime = $('#endTime').val()=="" ? "12/31/2999" : $('#endTime').val(); 
                $.get( formURL, 
			{startTime: sTime,
			 endTime: eTime,
			compoundRate: $('#compoundRate').val(),
            drawDown: $('#drawDown').val(),
            aum: $('#aum').val(),
            minInv: $('#minInv').val()}, 
                        function(data, status){
	                	$('#fundlist').addClass('active').siblings().removeClass('active');
                        	$('#tablelist').html(data);
                        	$('#example').tablesorter(  {headers: { 0 : {sorter: false} } } );
                        	var sorting = [[1,0]];
                        	$("#example").trigger("sorton",[sorting]);
				$('#selectAll').bind('click',function() {
                        		$(this).is(":checked")? $('.select-row').prop("checked", true) :
                           		$('.select-row').prop("checked", false);
                		});
                        	loadPage();
                	} );
                });


$('#tosavefund').submit(function(event){
		event.preventDefault();
		var fID = [];
		$('#tablelist').find("tr").each( function(){
	            if(	$(this).find("td > input").is(":checked") ) 	
			 fID.push( $(this).find("td > a ").prop('href').split('=')[1]  );
		});

		var fundlistData = {
			'fundID' : fID 
		};

                $.ajax({
                	type: "POST",
                	url: '/users/bulksave',
			data: fundlistData,
                }).done( function (data ) {
			//alert("已经成功收藏基金,谢谢!");			
			$('#mycollection').trigger('click');	
		});

        });


$("#deletefundbut").click(function(event){
                var fID = [];
                $('#tablelist').find("tr").each( function(){
                    if( $(this).find("td > input").is(":checked") )
                         fID.push( $(this).find("td > a ").prop('href').split('=')[1]  );
                });

                var fundlistData = {
                        'fundID' : fID
                };

                $.ajax({
                        type: "POST",
                        url: '/users/bulkdel',
                        data: fundlistData,
                }).done( function (data ) {
			$('#mycollection').trigger('click');
                });

        });

$("#deletecombo").click(function(event){
                var cID = [];
                $('#tablelist').find("tr").each( function(){
                    if( $(this).find("td > input").is(":checked") )
                         cID.push( $(this).find("td > a ").prop('href').split('=')[1]  );
                });

                var combolistData = {
                        'comboID' : cID
                };

                $.ajax({
                        type: "POST",
                        url: '/users/combobulkdelete',
                        data: combolistData,
                }).done( function (data ) {
                        $('#mycombolist').trigger('click');
                });

        });


$("#resetSelectItem").click(function(){
        $("select#compoundRate").val('-1000');
	$("select#drawDown").val('1000');
	$("select#aum").val('-1');
	$("select#minInv").val('1000000');
	//$("input#stime").attr('placeholder', '起始日期').blur();
	$("input#startTime").val("");
	$("input#endTime").val( "");
});

$('#addfundtocombo').submit(function(event){
		 event.preventDefault();

		  if( $("#comboname").val() =="" ) {
        		//$("#comboname").placeholder="不能为空！";
			$("#comboname").attr('placeholder', "不能为空！").blur();
        		return ;
   		  }

                var fID = [];
                $('#tablelist').find("tr").each( function(){
                    if( $(this).find("td > input").is(":checked") )
                         fID.push( $(this).find("td > a ").prop('href').split('=')[1]  );
                });

		if(fID.length == 0){
			alert("你没有选取任何基金!");
		        $("#comboname").val("新组合");
                        $("#canceladdfund").trigger('click');
			return;

		}

                var fundlistData = {
			'comboName' : $("#comboname").val(),
                        'fundID' : fID
                };

                $.ajax({
                        type: "POST",
                        url: '/users/addfund2combo',
                        data: fundlistData,
                }).done( function (data ) {
			$("#comboname").val("新组合");
			$("#canceladdfund").trigger('click');			
                        $('#mycombolist').trigger('click');
                });

        });


function  loadPage() {
    var currentPage = 0;
    var numPerPage = 8;
    var $table = $('table.paginated');
   $table.bind('sortPaginate', function(){
         $table.find('tbody tr').hide().slice(0, numPerPage).show();
	  $pager.find('span.page-number:first').addClass('active').siblings().removeClass('active');
          $pager.find('span.page-number').hide().slice(0,5).show();
        });
    
   $table.bind('repaginate', function() {

        $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage - (-1)) * numPerPage).show();
    });

    $table.trigger('repaginate');
	
     $('#example').on("sortEnd", function(){
                  $('table.paginated').trigger('sortPaginate');
                });

    var numRows = $table.find('tbody tr').length;

    if(numRows <= numPerPage) return;

    var numPages = Math.ceil(numRows / numPerPage);
    var $pager = $('<div class="pager"></div>');
    /// for first page
      $('<span class="page-number-pre"></span>').text("<<").bind('click', {
            newPage: 0
            //newnumPagers: numPagers
        }, function(event) {
            currentPage = event.data['newPage'];
            //totalPages = event.data['newnumPagers'];
            $table.trigger('repaginate');
	     $pager.find('span.page-number:first').addClass('active').siblings().removeClass('active');
            if( numPages>5) $pager.find('span.page-number').hide().slice(0,5).show();
        }).appendTo($pager).addClass('clickable');

    // for previous

     $('<span class="page-number-pre"></span>').text("<").bind('click', {
            newPage: 0
        }, function(event) {
            var $currAct = $pager.find('span.active');
            currentPage = $currAct.html();
            if(currentPage>1) $currAct.removeClass('active').prev().addClass('active');
            if(currentPage>1) $currAct.removeClass('active').prev().addClass('active');
            currentPage = ( currentPage > 1 ? currentPage - 2 : currentPage - 1 );

            $table.trigger('repaginate');
            if((currentPage>=2 && currentPage<=numPages-3) && numPages>5 ) $pager.find('span.page-number').hide().slice(currentPage-2, currentPage-(-3) ).show();
        }).appendTo($pager).addClass('clickable');


    for (var page = 0; page < numPages; page++) {
        $('<span class="page-number"></span>').text(page + 1).bind('click', {
            newPage: page
        }, function(event) {
            currentPage = event.data['newPage'];
            $table.trigger('repaginate');
            $(this).addClass('active').siblings().removeClass('active');
        }).appendTo($pager).addClass('clickable');
    }

     // for  next

     $('<span class="page-number-pre"></span>').text(">").bind('click', {
            newPage: 0
        }, function(event) {
            var $currAct = $pager.find('span.active');
            currentPage = $currAct.html();
            if(currentPage < numPages) $currAct.removeClass('active').next().addClass('active');
            else currentPage = numPages - 1 ;

            $table.trigger('repaginate');
	   if((currentPage>=2 && currentPage<=numPages-3) && numPages>5 ) 
			$pager.find('span.page-number').hide().slice(currentPage-2, currentPage-(-3) ).show();

           //if( currentPage < numPages - 2 ) $('.span.page-number').hide().slice(currentPage , currentPage - (-3)).show();
        }).appendTo($pager).addClass('clickable');

     // for last

       $('<span class="page-number-pre"></span>').text(">>").bind('click', {
            newPage: numPages - 1
        }, function(event) {
            currentPage = event.data['newPage'];
            $table.trigger('repaginate');
            $pager.find('span.page-number:last').addClass('active').siblings().removeClass('active');
            if( numPages>5) $pager.find('span.page-number').hide().slice(numPages-5,numPages).show();
        }).appendTo($pager).addClass('clickable');


       $pager.insertAfter($table).find('span.page-number:first').addClass('active');
       if( numPages>5 )       $('span.page-number').slice(5,numPages).hide();
   }

   


});


function checkProfileForm(form){
    var flag  = true;
    if(form.pffirstname.value =="") {
        form.pffirstname.placeholder="This field cannot be empty！";
        flag = false;
    }

    if(form.pflastname.value =="") {
        form.pflastname.placeholder="This field cannot be empty！";
        flag = false;
    }
    if(form.pfemail.value =="") {
        form.pfemail.placeholder="This field cannot be empty！";
        flag = false;
    }
    if(form.pfcompany.value =="") {
        form.pfcompany.placeholder="This field cannot be empty！";
        flag = false;
    }
    if(form.pfworkphone.value =="") {
        form.pfworkphone.eplaceholder="This field cannot be empty！";
        flag = false;
    }
    if(form.pfwebsite.value =="") {
        form.pfwebsite.placeholder="This field cannot be empty！";
        flag = false;
    }
    /*if(form.pfcellphone.value =="") {
        form.pfcellphone.placeholder="This field cannot be empty！";
        flag = false;
    }*/
    if(form.pffundname.value =="") {
        form.pffundname.placeholder="This field cannot be empty！";
        flag = false;
    }

    return flag;

  /*    if(isNaN(form.amount.value) || form.amount.value == "" || form.amount.value<=0) {
        form.amount.value="";
        form.amount.placeholder="数目不对！";
        return false;
    } */
  }

function checkProgramForm(form){
    var flag  = true;
    return flag;
}

function fetch_select(val)
{
   $.ajax({
     type: 'post',
     url: '/users/fetchprogram',
     data: {
       getoption:val
     },
     success: function (response) {
	alert("see");
        alert(response); 
     }
   });
}

</script>




