<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid container-fluid-spacious">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-emphasized" href="/users/home">
          <span class="icon icon-home navbar-brand-icon"></span>
          鼎鲸证券－专户理财
        </a>
      </div>
      <% if (index!=0) {%>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li 
          <% if (index==1) {%> 
            class="active"
          <% } %>
          >
            <a href="/users/search">条件筛选</a>
          </li>
          <li 
          <% if (index==2) {%> 
            class="active"
          <% } %>
          >
            <a href="/users/collection">我的收藏</a>
          </li>
          <li 
          <% if (index==3) {%> 
            class="active"
          <% } %>
          >
            <a href="/users/combo">我的组合</a>
          </li>
          <li 
          <% if (index==4) {%> 
            class="active"
          <% } %>
          >
            <a href="/">鼎鲸主页</a>
          </li>
          <li 
          <% if (index==5) {%> 
            class="active"
          <% } %>
          >
            <a href="/logout">登出</a>
          </li>
        </ul>
        <form action="/users/text" method="get" class="form-inline navbar-form navbar-right">
          <div class="input-with-icon" id="prefetch">
            <input class="typeahead form-control" type="text" name="fundname" placeholder="搜索基金...">
            <span class="icon icon-magnifying-glass"></span>
          </div>
          <button type="button submit" class="btn btn-sm btn-primary">GO!</button>
        </form>
      </div>
      <% } %>
    </div>
  </nav>
