<div>
<div>	
 <form action="/users/searchfun" method="get" class="form-inline navbar-form navbar-left searchFun">
          <div class="input-with-icon" id="prefetch">
            <input class="typeahead form-control" type="text" id="fundname" name="fundname" placeholder="搜索基金...">
            <span class="icon icon-magnifying-glass"></span>
          </div>
          <button type="button submit" class="btn btn-sm btn-primary" >GO!</button>
 </form>
</div>
<br/>
<br/>
<br/>
<form action="/users/addfundtocombo" method="post" id="addfund" enctype='application/json'>
<div class="table-responsive">
  <table class="table table-striped" id="combfund_remove">
     <thead>
      <tr>
        <th class="aligncenter">
         基金名
        </th>
        </th>
        <th class="aligncenter">
          全年回报
        </th>
        <th class="aligncenter">
          上月回报
        </th>
	 <th class="aligncenter">
          调整金额
	</th>
	 <th class="aligncenter">
           取消
        </th>
      </tr>

    </thead>

    <tbody>
	 <% comFunData.forEach(function(row) { %>
	 <tr>
        <td class="aligncenter"><%= row[1] %></td>
        <td class="aligncenter"><%= row[3] %>%</td>
        <td class="aligncenter"><%= row[2] %>%</td>
        <td class="aligncenter">
      	       <input id="inputdefault" type="text" value="$<%= row[4] %>" width="50"/>
        </td > 
	<td><button type="button" class="btn btn-danger remove show_tip">X</button></td>	

      </tr>
      <% }); %>
	
    </tbody>
  </table>
 <button class="btn btn-success m-l m-t submit" type="button submit"  id="addfundtocombo" >
    提交确认 
</button>
</form>
</div>
</div>
