        <article class="faqs article gradient-4">
            <div class="container text-center">
                <div class="row">       
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">         
                        <h2 class="title">Frequently Asked Questions</h2>
                        <p class="intro">If the following questions and answers about our app doesn’t address your query <br />then please contact us at <a href="#">hello@yourappsite.com</a></p>
                        <section class="search-section">
                            <form class="searchbox">
                                <label class="sr-only" for="search-form">Search</label>
                                <div class="form-group">
                                    <input id="search-form" name="search-form" type="text" class="form-control" placeholder="Search questions...">
                                    <button type="submit" class="btn btn-cta btn-cta-primary"><i class="fa fa-search"></i></button>
                                </div>                            
                            </form>
                        </section><!--//search-section-->
                        <section class="faqs-section text-center">                        
                            <div class="faqs-tabbed tabpanel" role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#cat1" aria-controls="cat1" role="tab" data-toggle="tab">Top 10</a></li>
                                    <li role="presentation"><a href="#cat2" aria-controls="cat2" role="tab" data-toggle="tab">Features</a></li>
                                    <li role="presentation"><a href="#cat3" aria-controls="cat3" role="tab" data-toggle="tab">Pricing</a></li>
                                    <li role="presentation" class="last"><a href="#cat4" aria-controls="cat4" role="tab" data-toggle="tab">Support</a></li>
                                </ul><!--//nav-->                            
                                <!-- Tab panes -->
                                <div class="tab-content text-left">
                                    <div role="tabpanel" class="tab-pane-1 tab-pane fade in active" id="cat1">
                                        <h3 class="subtitle text-center">10 Most Common Questions</h3>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-1"><span class="pe-icon pe-7s-plus"></span>Can I viverra sit amet quam eget lacinia?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq1-1">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim
                                                    aesthetic synth nesciunt you probably haven't heard of them
                                                    accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-2"><span class="pe-icon pe-7s-plus"></span>What is the ipsum dolor sit amet quam tortor?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-2">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim
                                                    aesthetic synth nesciunt you probably haven't heard of them
                                                    accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-3"><span class="pe-icon pe-7s-plus"></span>How does the morbi quam tortor work?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-3">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim
                                                    aesthetic synth nesciunt you probably haven't heard of them
                                                    accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-4"><span class="pe-icon pe-7s-plus"></span>Can I ipsum dolor sit amet nascetur ridiculus?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-4">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim
                                                    aesthetic synth nesciunt you probably haven't heard of them
                                                    accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div><!--//panel--> 
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-5"><span class="pe-icon pe-7s-plus"></span>What is the ipsum dolor sit amet quam tortor?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-5">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim
                                                    aesthetic synth nesciunt you probably haven't heard of them
                                                    accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-6"><span class="pe-icon pe-7s-plus"></span>How to nihil anim keffiyeh
                 ipsum dolor sit amet quam tortor?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-6">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim
                                                    aesthetic synth nesciunt you probably haven't heard of them
                                                    accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-7"><span class="pe-icon pe-7s-plus"></span>What is the ipsum dolor sit amet quam tortor?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-7">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-8"><span class="pe-icon pe-7s-plus"></span>What is the ipsum dolor sit amet quam tortor?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-8">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. 
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-9"><span class="pe-icon pe-7s-plus"></span>What is the ipsum dolor sit amet quam tortor?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-9">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. 
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-10"><span class="pe-icon pe-7s-plus"></span>What is the ipsum dolor sit amet quam tortor?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-10">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. 
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        
                                    </div><!--//tab-pane-1-->
                                    <div role="tabpanel" class="tab-pane-2 tab-pane fade" id="cat2">
                                        <h3 class="subtitle text-center">Features Questions</h3>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq2-1"><span class="pe-icon pe-7s-plus"></span>How to viverra sit amet quam eget lacinia?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq2-1">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq2-2"><span class="pe-icon pe-7s-plus"></span>What is the ipsum dolor sit amet quam tortor?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq2-2">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq2-3"><span class="pe-icon pe-7s-plus"></span>How to richardson ad squid?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq2-3">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq2-4"><span class="pe-icon pe-7s-plus"></span>Do you provide nesciunt laborum?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq2-4">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq2-5"><span class="pe-icon pe-7s-plus"></span>Do you provide nesciunt laborum?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq2-5">
                                                <div class="panel-body">
                                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus faucibus, nunc eget efficitur tempor, libero lacus rhoncus arcu, quis mattis elit neque ut felis. Pellentesque eget aliquam tortor. Ut dignissim dignissim dui.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                    </div><!--//tab-pane-2-->
                                    <div role="tabpanel" class="tab-pane-3 tab-pane fade" id="cat3">
                                        <h3 class="subtitle text-center">Pricing Questions</h3>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-1"><span class="pe-icon pe-7s-plus"></span>How much viverra sit amet quam eget lacinia?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-1">
                                                <div class="panel-body">
                                                    Maecenas sit amet sapien ullamcorper, vestibulum tortor ac, tristique diam. Duis volutpat tempor nulla, vitae aliquam lorem dignissim quis. Donec eget porta augue. Cras lectus orci, facilisis vel nibh vitae, ultrices cursus tellus. Pellentesque sollicitudin rhoncus
                                                    helvetica.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-2"><span class="pe-icon pe-7s-plus"></span>Can I  fames ac turpis egestas?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-2">
                                                <div class="panel-body">
                                                    Aenean nec leo at neque consequat bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce porta, ante sed hendrerit elementum, est erat pellentesque urna, luctus semper nunc nisl eu arcu.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-3"><span class="pe-icon pe-7s-plus"></span>When is  fames ac turpis egestas?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-3">
                                                <div class="panel-body">
                                                    Duis eu lacinia felis. Maecenas sit amet sapien ullamcorper, vestibulum tortor ac, tristique diam. Duis volutpat tempor nulla, vitae aliquam lorem dignissim quis. Donec eget porta augue. Cras lectus orci, facilisis vel nibh vitae, ultrices cursus tellus. Pellentesque sollicitudin rhoncus turpis, et ultrices dolor viverra a. Praesent mollis dui malesuada ante mattis porttitor. Nullam mauris purus.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-4"><span class="pe-icon pe-7s-plus"></span>When is  fames ac turpis egestas?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-4">
                                                <div class="panel-body">
                                                    Integer id diam in nulla tristique varius id mattis nisl. Suspendisse feugiat nibh arcu, nec cursus elit congue in. Ut volutpat justo nec enim euismod, eget interdum mi ornare. Aenean nec ornare justo. Sed malesuada pretium lectus eu viverra. Phasellus a odio non nulla sagittis iaculis. Donec dictum sagittis purus non viverra. Morbi dictum venenatis nisl, ut dictum augue vehicula ultricies. Nulla facilisi. Curabitur eu dictum nisl.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-5"><span class="pe-icon pe-7s-plus"></span>How to  malesuada ante mattis?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-5">
                                                <div class="panel-body">
                                                    Praesent mollis dui malesuada ante mattis porttitor. Nullam mauris purus, pellentesque nec tincidunt id, auctor vel enim. Donec aliquet imperdiet luctus. Donec lacinia ante tortor, et dapibus est tincidunt eget.                                            
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-6"><span class="pe-icon pe-7s-plus"></span>How to  lacinia ante tortor?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-6">
                                                <div class="panel-body">
                                                    Praesent mollis dui malesuada ante mattis porttitor. Nullam mauris purus, pellentesque nec tincidunt id, auctor vel enim. Donec aliquet imperdiet luctus. Donec lacinia ante tortor, et dapibus est tincidunt eget.                                            
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        
                                    </div><!--//tab-pane-3-->
                                    <div role="tabpanel" class="tab-pane tab-pane fade" id="cat4">
                                        <h3 class="subtitle text-center">Support Questions</h3>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq4-1"><span class="pe-icon pe-7s-plus"></span>Where can I viverra sit amet quam eget lacinia?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq4-1">
                                                <div class="panel-body">
                                                    Maecenas sit amet sapien ullamcorper, vestibulum tortor ac, tristique diam. Duis volutpat tempor nulla, vitae aliquam lorem dignissim quis. Donec eget porta augue. Cras lectus orci, facilisis vel nibh vitae, ultrices cursus tellus. Pellentesque sollicitudin rhoncus helvetica.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq4-2"><span class="pe-icon pe-7s-plus"></span>How long amet quam eget lacinia?</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq4-2">
                                                <div class="panel-body">
                                                    Mauris mi erat, vehicula nec accumsan vitae, facilisis id dui. Mauris tincidunt tortor a tellus pretium, nec pulvinar ligula viverra. Nullam nulla tellus, fermentum ac rhoncus bibendum, convallis eu justo. Aenean nec leo at neque consequat bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce porta, ante sed hendrerit elementum, est erat pellentesque urna, luctus semper nunc nisl eu arcu. Etiam in efficitur quam, eget euismod lacus. Nam a magna quis lorem pharetra tempor vitae a tortor. Curabitur quis elit id orci porta viverra sit amet sit amet quam. Aliquam pretium ullamcorper odio id eleifend. Etiam vel convallis odio.
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        
                                    </div><!--//tab-pane-4-->
                                </div><!--//tab-content-->                           
                            </div><!--//tab-panel-->
                        </section><!--//faqs-section-->
                        <section class="lead text-center">
                            <h3 class="subtitle">Still need help?</h3>
                            <a class="btn btn-cta btn-cta-primary" href="contact.html">Contact Us</a>
                        </section><!--//lead-->
                    </div>
                </div><!--//row-->
            </div><!--//container-->
        </article><!--//article-->    