<ul class="wsite-menu-default">
		<li id="active"
			class="wsite-menu-item-wrap"
			>
			<a href="/"
				
				class="wsite-menu-item"
				>
				首页
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-176474218487027137"
	class="wsite-menu-subitem-wrap "
	>
	<a href="/public/about"
		
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			&#20851;&#20110;&#25105;&#20204;
		</span>
	</a>
	
</li>
<li id="wsite-nav-391308650332305461"
	class="wsite-menu-subitem-wrap "
	>
	<a href="/public/join"
		
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			&#21152;&#20837;&#25105;&#20204;
		</span>
	</a>
	
</li>
<li id="wsite-nav-158610755588521754"
	class="wsite-menu-subitem-wrap "
	>
	<a href="/public/privacy"
		
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			&#38544;&#31169;&#22768;&#26126;
		</span>
	</a>
	
</li>
<li id="wsite-nav-379078147784029883"
	class="wsite-menu-subitem-wrap "
	>
	<a href="/public/cooperation"
		
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			&#21830;&#21153;&#21512;&#20316;
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg728725740837415499"
			class="wsite-menu-item-wrap"
			>
			<a href="/public/risk"
				
				class="wsite-menu-item"
				>
				风险评估
			</a>
			
		</li>
		<li id="pg550871533317267761"
			class="wsite-menu-item-wrap"
			>
			<a href="/public/niuren"
				
				class="wsite-menu-item"
				>
				大佬追踪
			</a>
			
		</li>
		<li id="pg319290101158527560"
			class="wsite-menu-item-wrap"
			>
			<a href="/public/school"
				
				class="wsite-menu-item"
				>
				金融学院
			</a>
			
		</li>
		<li id="pg288381257400317833"
			class="wsite-menu-item-wrap"
			>
			<a href="/public/faq"
				
				class="wsite-menu-item"
				>
				常见问题
			</a>
			
		</li>
		<li id="pg859100180560566826"
			class="wsite-menu-item-wrap"
			>
			<a href="/login"
				
				class="wsite-menu-item"
				>
				登录｜注册
			</a>
			
		</li>
</ul>