<article class="about article gradient-2">          
        <h2 class="title container text-center">关于我们</h2>
        <section class="about-section">
            <div class="section-inner container text-center">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0"> 
                        <h3 class="subtitle">公司简介</h3>
                        <div class="content">
                            <p>海鲸证券公司座落于加拿大的金融中心：多伦多市，是一家全球宏观资产管理公司。海鲸证券为金融机构，基金中的基金，家族投资公司等提供资产管理服务，同时也直接管理高资产净值投资者的资产。</p><p>海鲸证券拥有全球金融投资的宏观视野，以全球宏观量化分析和基本面研究为主要研究方法，致力于创造长期优异的绝对回报。海鲸证券追求能长期保持稳定和持续，并与传统金融产品相关性比较低的绝对收益率；从而为投资者提供一个优质的分散投资的渠道。</p><p>海鲸证券采用多种投资策略，从众多的金融产品中发现投资机会并设计最优投资策略。海鲸证券以严格的风险管理为基石，稳定的投资策略为核心，稳定优异的投资回报为目标。</p>        
                        </div><!--//content-->
                        <a href="contact" class="btn btn-cta btn-cta-primary">联络我们</a>
                    </div>
                </div><!--//row-->
            </div><!--//section-inner-->
        </section><!--//about-->
        <div class="container text-center">
            <div class="row">       
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">                  
                    <section class="team-section">
                        <h3 class="subtitle">我们的团队</h3>
                        <div class="content row">                  
                            <div class="member col-md-4 col-sm-4 col-xs-6">
                                <div class="member-inner">
                                    <div class="profile">
                                        <a class="modal-trigger" href="#modal-member-1" data-toggle="modal" data-target="#modal-member-1"><img class="img-responsive" src="sassets/images/team/s1.jpg" alt=""></a>
                                        <div class="info">
                                            <h4 class="name">丁华昆</h4>
                                            <h5 class="job-title">执行董事，首席投资官</h5>
                                        </div>
                                        <a class="mask modal-trigger" href="#modal-member-1" data-toggle="modal" data-target="#modal-member-1">
                                            <span class="mask-inner">
                                                <span class="pe-icon pe-7s-id pe-3x"></span>
                                                <span class="desc">了解更多</span>
                                            </span><!--//mask-inner-->
                                        </a>
                                    </div><!--//profile-->                                    
                                </div><!--//member-inner-->
                            </div><!--//member-->
                            <div class="member col-md-4 col-sm-4 col-xs-6">
                                <div class="member-inner">
                                    <div class="profile">
                                        <a class="modal-trigger" href="#modal-member-2" data-toggle="modal" data-target="#modal-member-2"><img class="img-responsive" src="sassets/images/team/s2.jpg" alt=""></a>
                                        <div class="info">
                                            <h4 class="name">于明</h4>
                                            <h5 class="job-title">股票基金经理，CFA</h5>
                                        </div>
                                        <a class="mask modal-trigger" href="#modal-member-2" data-toggle="modal" data-target="#modal-member-2">
                                            <span class="mask-inner">
                                                <span class="pe-icon pe-7s-id pe-3x"></span>
                                                <span class="desc">了解更多</span>
                                            </span><!--//mask-inner-->
                                        </a>
                                    </div><!--//profile-->                                    
                                </div><!--//member-inner-->
                            </div><!--//member-->
                            <div class="member col-md-4 col-sm-4 col-xs-6">
                                <div class="member-inner">
                                    <div class="profile">
                                        <a class="modal-trigger" href="#modal-member-3" data-toggle="modal" data-target="#modal-member-3"><img class="img-responsive" src="sassets/images/team/s3.jpg" alt=""></a>
                                        <div class="info">
                                            <h4 class="name">钱彬</h4>
                                            <h5 class="job-title">副总裁，高级分析师</h5>
                                        </div>
                                        <a class="mask modal-trigger" href="#modal-member-3" data-toggle="modal" data-target="#modal-member-3">
                                            <span class="mask-inner">
                                                <span class="pe-icon pe-7s-id pe-3x"></span>
                                                <span class="desc">了解更多</span>
                                            </span><!--//mask-inner-->
                                        </a>
                                    </div><!--//profile-->                                    
                                </div><!--//member-inner-->
                            </div><!--//member--> 
                            <div class="member col-md-4 col-sm-4 col-xs-6">
                                <div class="member-inner">
                                    <div class="profile">
                                        <a class="modal-trigger" href="#modal-member-4" data-toggle="modal" data-target="#modal-member-4"><img class="img-responsive" src="sassets/images/team/s4.jpg" alt=""></a>
                                        <div class="info">
                                            <h4 class="name">陈尧文</h4>
                                            <h5 class="job-title">首席技术官</h5>
                                        </div>
                                        <a class="mask modal-trigger" href="#modal-member-4" data-toggle="modal" data-target="#modal-member-4">
                                            <span class="mask-inner">
                                                <span class="pe-icon pe-7s-id pe-3x"></span>
                                                <span class="desc">了解更多</span>
                                            </span><!--//mask-inner-->
                                        </a>
                                    </div><!--//profile-->                                    
                                </div><!--//member-inner-->
                            </div><!--//member-->  
                            <div class="member col-md-4 col-sm-4 col-xs-6">
                                <div class="member-inner">
                                    <div class="profile">
                                        <a class="modal-trigger" href="#modal-member-5" data-toggle="modal" data-target="#modal-member-5"><img class="img-responsive" src="sassets/images/team/s5.jpg" alt=""></a>
                                        <div class="info">
                                            <h4 class="name">刘凌峰</h4>
                                            <h5 class="job-title">首席智囊官</h5>
                                        </div>
                                        <a class="mask modal-trigger" href="#modal-member-5" data-toggle="modal" data-target="#modal-member-5">
                                            <span class="mask-inner">
                                                <span class="pe-icon pe-7s-id pe-3x"></span>
                                                <span class="desc">了解更多</span>
                                            </span><!--//mask-inner-->
                                        </a>
                                    </div><!--//profile-->                                    
                                </div><!--//member-inner-->
                            </div><!--//member-->  
                            <div class="member col-md-4 col-sm-4 col-xs-6">
                                <div class="member-inner">
                                    <div class="profile">
                                        <a class="modal-trigger" href="#modal-member-6" data-toggle="modal" data-target="#modal-member-6"><img class="img-responsive" src="sassets/images/team/s6.jpg" alt=""></a>
                                        <div class="info">
                                            <h4 class="name">娜姐</h4>
                                            <h5 class="job-title">首席市场官</h5>
                                        </div>
                                        <a class="mask modal-trigger" href="#modal-member-5" data-toggle="modal" data-target="#modal-member-6">
                                            <span class="mask-inner">
                                                <span class="pe-icon pe-7s-id pe-3x"></span>
                                                <span class="desc">了解更多</span>
                                            </span><!--//mask-inner-->
                                        </a>
                                    </div><!--//profile-->                                    
                                </div><!--//member-inner-->
                            </div><!--//member-->                                          
                        </div><!--//content-->            
                        <a class="btn btn-cta btn-cta-primary" href="join">加入我们</a>
                    </section><!--//team-section-->
                </div>
            </div><!--//row-->
        </div><!--//container-->
    </article><!--//article-->   