<article class="about article gradient-2">          
        <h2 class="title container text-center">关于我们</h2>
        <section class="about-section">
            <div class="section-inner container text-center">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0"> 
                        <h3 class="subtitle">公司简介</h3>
                        <div class="content">
                            <p>海鲸证券 = 一流交易平台 + 顶尖金融服务，是华人首选的全球投资平台。作为将“海外一人多证券账户，个人投资 + 智能理财”模式带入中国的第一人，海鲸证券围绕“中国最领先的海外互联网证券投资平台”这一战略定位，为客户提供一流的产品交易、理财、融资、财经资讯、投资者教育、和理财信息等全方位金融服务，倾力打造“一站式跨境互联网金融投资平台”。</p>        
                        </div><!--//content-->
                        <a href="contact" class="btn btn-cta btn-cta-primary">联络我们</a>
                    </div>
                </div><!--//row-->
            </div><!--//section-inner-->
        </section><!--//about-->
    </article><!--//article-->   