        <article class="jobs article gradient-1">
            <div class="header-wrapper container text-center">                
                <h2 class="title">联络我们</h2>
            </div><!--//container-->
            <section id="contact-methods" class="contact-methods text-center">
                <div class="contact-methods-inner container">
                    <div class="row">
                        <div class="general item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
                            <div class="item-inner">
                                <h2 class="subtitle"><span class="pe-icon pe-7s-help1"></span>普通咨询</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">general@whalebrokers.com</a></li>
                                    <li><a href="#">1-800-123-4567</a></li>
                                </ul>
                            </div><!--//inner-->
                        </div><!--//general-->
                        <div class="support item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
                            <div class="item-inner">
                                <h2 class="subtitle"><span class="pe-icon pe-7s-help2"></span>客服支持</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">support@whalebrokers.com</a></li>
                                    <li><a href="#">1-800-123-4567</a> (7x24) </li>
                                </ul>
                            </div><!--//inner-->
                        </div><!--//support-->
                        <div class="press item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
                            <div class="item-inner">
                                <h2 class="subtitle"><span class="pe-icon pe-7s-speaker"></span>新闻发布</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">press@whalebrokers.com</a></li>
                                    <li><a href="#">1-800-123-4567</a></li>
                                </ul>
                            </div><!--//inner-->
                        </div><!--//press-->
                        <div class="partnership item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
                            <div class="item-inner">
                                <h2 class="subtitle"><span class="pe-icon pe-7s-users"></span>合作伙伴</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">partners@whalebrokers.com</a></li>
                                    <li><a href="#">1-800-123-4567</a></li>
                                </ul>
                            </div><!--//inner-->
                        </div><!--//press-->
                    </div><!--//row-->
                </div><!--//contact-methods-inner-->
            </section><!--//contact-methods-->
            <section class="form-section text-center">    
                <div class="section-inner container" >             
                    <div class="row">         
                        <div class="form-container col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                            <form id="contact-form" class="contact-form form" method="post" action="#">                                                                          
                                <div class="contact-form-inner">
                                    <h3 class="subtitle">给我们发邮件</h3> 
                                    <div class="row">                                                                                       
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label class="sr-only" for="cname-first">名</label>
                                            <input type="text" class="form-control" id="cname-first" name="firstname" placeholder="名" minlength="1" required>
                                        </div>                    
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label class="sr-only" for="cname-last">姓</label>
                                            <input type="text" class="form-control" id="cname-last" name="lastname" placeholder="姓" minlength="1" required>
                                        </div>                   
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label class="sr-only" for="cemail">邮件</label>
                                            <input type="email" class="form-control" id="cemail" name="email" placeholder="邮件" required>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label class="sr-only" for="cnumber">手机号码</label>
                                            <input type="tel" class="form-control" id="cnumber" name="number" placeholder="手机号码" minlength="2" required>
                                        </div>  
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <label class="sr-only" for="cmessage">您的消息</label>
                                            <textarea class="form-control" id="cmessage" name="message" placeholder="请输入您的消息" rows="12" required></textarea>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <label class="reason-label" for="reason">联系我们的原因：</label>
                                            <select id="reason" name="reason" class="form-control" required>
                                                <option value="">请选择</option>
                                                <option value="general">普通咨询</option>
                                                <option value="support">客服支持</option>
                                                <option value="press">新闻发布</option>
                                                <option value="partnership">合作伙伴</option>
                                            </select>
                                        </div>
                                         <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <button type="submit" class="btn btn-block btn-cta btn-cta-primary">发送消息</button>
                                        </div>                           
                                    </div><!--//row-->
                                </div>                            
                                <div id="form-messages"></div>
                            </form><!--//contact-form-->
                        </div><!--//form-container-->
                    </div><!--//row-->
                </div><!--//section-inner-->
            </section><!--//promo-section-->    
        </article><!--//article--> 