        <article class="jobs article gradient-9">
            <div class="header-wrapper container text-center">                
                <h2 class="title">Get in touch</h2>
            </div><!--//container-->
            <section id="contact-methods" class="contact-methods text-center">
                <div class="contact-methods-inner container">
                    <div class="row">
                        <div class="general item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
                            <div class="item-inner">
                                <h2 class="subtitle"><span class="pe-icon pe-7s-help1"></span>General</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">hello@yourappsite.com</a></li>
                                    <li><a href="#">0117 123 4567</a></li>
                                </ul>
                            </div><!--//inner-->
                        </div><!--//general-->
                        <div class="support item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
                            <div class="item-inner">
                                <h2 class="subtitle"><span class="pe-icon pe-7s-help2"></span>Support</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">support@yourappsite.com</a></li>
                                    <li><a href="#">0800 123 4567</a></li>
                                    <li>Line open: 9am-5pm Mon-Fri GMT</li>
                                </ul>
                            </div><!--//inner-->
                        </div><!--//support-->
                        <div class="press item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
                            <div class="item-inner">
                                <h2 class="subtitle"><span class="pe-icon pe-7s-speaker"></span>Press</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">press@yourappsite.com</a></li>
                                    <li><a href="#">0117 456 789</a></li>
                                </ul>
                            </div><!--//inner-->
                        </div><!--//press-->
                        <div class="partnership item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
                            <div class="item-inner">
                                <h2 class="subtitle"><span class="pe-icon pe-7s-users"></span>Partnership</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">partners@yourappsite.com</a></li>
                                    <li><a href="#">0117 456 789</a></li>
                                </ul>
                            </div><!--//inner-->
                        </div><!--//press-->
                    </div><!--//row-->
                </div><!--//contact-methods-inner-->
            </section><!--//contact-methods-->
            <section class="form-section text-center">    
                <div class="section-inner container" >             
                    <div class="row">         
                        <div class="form-container col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                            <form id="contact-form" class="contact-form form" method="post" action="#">                                                                          
                                <div class="contact-form-inner">
                                    <h3 class="subtitle">Contact Form</h3> 
                                    <div class="row">                                                                                       
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label class="sr-only" for="cname-first">First Name</label>
                                            <input type="text" class="form-control" id="cname-first" name="firstname" placeholder="First name" minlength="2" required>
                                        </div>                    
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label class="sr-only" for="cname-last">Last Name</label>
                                            <input type="text" class="form-control" id="cname-last" name="lastname" placeholder="Last name" minlength="2" required>
                                        </div>                   
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label class="sr-only" for="cemail">Email address</label>
                                            <input type="email" class="form-control" id="cemail" name="email" placeholder="Email address" required>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label class="sr-only" for="cnumber">Contact number</label>
                                            <input type="tel" class="form-control" id="cnumber" name="number" placeholder="Phone number" minlength="2" required>
                                        </div>  
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <label class="sr-only" for="cmessage">Your message</label>
                                            <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="12" required></textarea>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <label class="reason-label" for="reason">Your reason for contacting us:</label>
                                            <select id="reason" name="reason" class="form-control" required>
                                                <option value="">Please select a reason</option>
                                                <option value="general">General inquiry</option>
                                                <option value="support">Support</option>
                                                <option value="press">Press inquiry</option>
                                                <option value="partnership">Partnership inquiry</option>
                                            </select>
                                        </div>
                                         <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Send Message</button>
                                        </div>                           
                                    </div><!--//row-->
                                </div>                            
                                <div id="form-messages"></div>
                            </form><!--//contact-form-->
                        </div><!--//form-container-->
                    </div><!--//row-->
                </div><!--//section-inner-->
            </section><!--//promo-section-->    
            <section class="map-section text-center">
                <div class="section-inner container" > 
                    <div class="row">
                        <div class="gmap-wrapper col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                            <div class="gmap-wrapper-inner">
                                <h3 class="subtitle">Atom HQ</h3>
                                <p class="address">                          
                                    <span class="road">56 College Green Road</span><br>
                                    <span class="country">Bristol, UK</span><br>
                                    <span class="postal-code">BS1 XR18</span><br>
                                </p>         
                                <div class="gmap-box">                 
                                    <div class="gmap" id="map"></div><!--//map-->
                                </div><!--//gmap-box-->
                            </div><!--//gmap-wrapper-inner-->
                        </div><!--//gmap-wrapper-->
                    </div><!--//row-->
                </div><!--//section-inner-->
            </section><!--//location-container-->
        </article><!--//article--> 