        <article class="pricing article gradient-3">
            <div class="container text-center">
                <div class="row">       
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">         
                        <h2 class="title">鼎鲸证券美股交易软件下载</h2>
                        <p class="intro">自主研发，高效易用的移动端APP。现在下载鼎鲸证券手机客户端，实时行情免费送！</p>
                        <section class="pricing-section">
                            <div class="item price-1 col-md-6 col-sm-6 col-xs-12 text-center">
                                <div class="item-inner">
                                    <div class="heading">
                                        <h3 class="title">IOS下载</h3>
                                            <p class="price-figure"><a href="#"><img class="img-responsive dj-centered" src="sassets/images/buttons/btn-app-store.png" alt="Download from App Store" /></a>V1.0版本</p>
                                    </div>
                                    <div class="dj-centered-top">
                                        <img class="img-responsive dj-centered" src="/sassets/images/devices/iphone6.png" alt="">
                                    </div>
                                    <a class="btn btn-cta btn-cta-primary" href="#" style="width: 200px;"><i class="fa fa-apple"></i><span class="text">下载 IOS</span> </a>
                                    <div class="dj-centered-tb">
                                    <figure class="qr-holder">
                                        <img src="sassets/images/buttons/QR-code.png" alt="" style="width: 200px;"/>
                                    <figcaption class="caption">扫描下载 IOS 最新版</figcaption>
                                    </figure>
                                    </div>
                                </div><!--//item-inner-->
                            </div><!--//item-->
                            <div class="item price-1 col-md-6 col-sm-6 col-xs-12 text-center">
                                <div class="item-inner">
                                    <div class="heading">
                                        <h3 class="title">ANDROID下载</h3>
                                            <p class="price-figure"><a href="#"><img class="img-responsive dj-centered" src="sassets/images/buttons/btn-google-play.png" alt="Download from Google Play" /></a>V1.0版本</p>
                                    </div>
                                <div class="dj-centered-top">
                                <img class="img-responsive dj-centered" src="/sassets/images/devices/android.png" alt="">
                                </div>
                                 <a class="btn btn-cta btn-cta-primary" href="#" style="width: 200px;"><i class="fa fa-android"></i><span class="text">下载 ANDROID</span></a>
                                    <div class="dj-centered-tb">
                                    <figure class="qr-holder">
                                        <img src="sassets/images/buttons/QR-code.png" alt="" style="width: 200px;"/>
                                    <figcaption class="caption">扫描下载 ANDROID 最新版</figcaption>
                                    </figure>
                                    </div>
                                </div><!--//item-inner-->
                            </div><!--//item-->
                        </section>
                    </div>
                </div><!--//row-->
            </div><!--//container-->
        </article><!--//article-->    