        <!-- ******FOOTER****** --> 
        
        <footer class="footer">
            <div class="container text-left">
                <nav class="links">
                    <ul class="list-inline dj-foot">
                        <li><a href="/about">关于我们</a></li>
                        <li><a href="/join">加入我们</a></li>
                        <li><a href="/privacy">隐私声明</a></li>
                        <li><a href="/contact">商务合作</a></li>
                    </ul>                    
                </nav>
                <div class="row">
                <div class="dj-note col-md-5 col-sm-7 col-xs-11">
                历史表现并不是未来收益的保证。历史收益，收益预期并不能代表未来表现。所有证券投资都有风险，可能会带来损失。投资者在进行投资前需考虑自身的投资目标及风险承受能力。
                <br><br><br>
                版权所有 &copy; 2016 <a href="http://www.whalebrokers.com/">海鲸证券</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京ICP备&nbsp;&nbsp;18888888号
                </div>

                <div class="dj-note col-md-7 col-sm-5 col-xs-11 text-right dj-trick">
                    <figure class="qr-holder">
                    <img src="sassets/images/buttons/QR2.png" alt="" style="width: 120px;"/>
                    </figure>
                    <br><br>
                    客服热线&nbsp;&nbsp;交易日 09:30 － 次日 05:00
                    <div class="dj-text-sg1">
                    1-800-588-8588​​
                    </div>
                </div>
                </div>
            </div><!--//container-->
        </footer><!--//footer-->