        <!-- ******FOOTER****** --> 
        
        <footer class="footer">
            <div class="container text-left">
                <nav class="links">
                    <ul class="list-inline dj-foot">
                        <li><a href="/about">关于我们</a></li>
                        <li><a href="/join">加入我们</a></li>
                        <li><a href="/privacy">隐私声明</a></li>
                        <li><a href="/contact">商务合作</a></li>
                    </ul>                    
                </nav>

                <small class="copyright">版权所有 &copy; 2016 <a href="http://www.whalebrokers.com/">海鲸证券</a>  京ICP备18888888号</small>
                
            </div><!--//container-->
        </footer><!--//footer-->