        <!-- ******FOOTER****** --> 
        
        <footer class="footer">
            <div class="container text-center">
                <ul class="links legal-links list-inline">
                    <li><a href="#">隐私声明</a></li>
                    <li class="last"><a href="/about">关于我们</a></li>
                </ul><!--//legal-links-->
                <small class="copyright">版权所有 &copy; 2016 <a href="http://www.whalebrokers.com/">鼎鲸证券</a></small>
                
            </div><!--//container-->
        </footer><!--//footer-->