        <article class="press article gradient-7">    
            <div class="header-wrapper container text-center">
                <h2 class="title">选择海鲸，方便快捷投资全球基金</h2>
            </div><!--//header-wrapper-->
            <section class="press-coverage-section">
                <div class="section-inner container">
                    <h3 class="subtitle sr-only">Press Coverage</h3>
                    <div id="press-slideshow" class="owl-carousel owl-theme text-center">  
                        <div class="item">
                            <div class="item-inner">
                            <div class="pe-icon pe-7s-exapnd2 pe-4x"></div><br><br>
                                <h3><strong>一个账户完成海外几百只高门槛基金的投资</strong></h3>
                             
                            </div><!--//item-inner-->
                        </div><!--//item--> 
                        <div class="item">
                            <div class="item-inner">
                            <div class="pe-icon pe-7s-cash pe-4x"></div><br><br>
                                <h3><strong>美元投资，最强货币，解决货币贬值的烦恼</strong></h3>
                            </div><!--//item-inner-->
                        </div><!--//item--> 
                        <div class="item">
                            <div class="item-inner">
                            <div class="pe-icon pe-7s-safe pe-4x"></div><br><br>
                                <h3><strong>个人专户，保证资金100%安全和透明</strong></h3>
                            </div><!--//item-inner-->
                        </div><!--//item-->              
                        <div class="item">
                            <div class="item-inner">
                            <div class="pe-icon pe-7s-phone pe-4x"></div><br><br>
                                <h3><strong>申购、赎回方便，费用低，线上交易</strong></h3>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                    </div><!--//owl-carousel-->  
                </div><!--//section-inner-->                  
            </section>

<div class="press-cta container text-center dj-section col-md-6 col-sm-6 col-xs-12">
                <h3>海外公募基金精选</h3>
            <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#homea">美国</a></li>
  <li><a data-toggle="tab" href="#menu1a">欧洲</a></li>
  <li><a data-toggle="tab" href="#menu2a">大盘股</a></li>
</ul>

<div class="tab-content">
  <div id="homea" class="tab-pane fade in active">
<table class="table table-bordered text-left dj-table">
    <thead>
      <tr>
        <th>排名</th>
        <th>基金名</th>
        <th>年回报</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div id="menu1a" class="tab-pane fade">
<table class="table table-bordered text-left dj-table">
    <thead>
      <tr>
        <th>排名</th>
        <th>基金名</th>
        <th>年回报</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div id="menu2a" class="tab-pane fade">
<table class="table table-bordered text-left dj-table">
    <thead>
      <tr>
        <th>排名</th>
        <th>基金名</th>
        <th>年回报</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>

<div class="press-cta container text-center dj-section col-md-6 col-sm-6 col-xs-12">
                <h3>海外私募基金精选</h3>
            <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#homeb">管理期货</a></li>
  <li><a data-toggle="tab" href="#menu1b">股权类</a></li>
  <li><a data-toggle="tab" href="#menu2b">货币类</a></li>
</ul>

<div class="tab-content">
  <div id="homeb" class="tab-pane fade in active">
<table class="table table-bordered text-left dj-table">
    <thead>
      <tr>
        <th>排名</th>
        <th>基金名</th>
        <th>年回报</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div id="menu1b" class="tab-pane fade">
<table class="table table-bordered text-left dj-table">
    <thead>
      <tr>
        <th>排名</th>
        <th>基金名</th>
        <th>年回报</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div id="menu2b" class="tab-pane fade">
<table class="table table-bordered text-left dj-table">
    <thead>
      <tr>
        <th>排名</th>
        <th>基金名</th>
        <th>年回报</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>鼎新基金</td>
        <td>17.79%</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
<div class="press-cta container text-center dj-section">
                <h3></h3>
            </div><!--//container-->
            <div class="press-cta container text-center dj-section">
                <h3>如需更多信息，请与我们联系。</h3>
                <br>
                <a class="btn btn-cta btn-cta-primary" href="/contact">联络我们</a>
            </div><!--//container-->
            </article>