<article class="faqs article gradient-7">
            <div class="container text-center">
                <div class="row"> 
                    <h2 class="title">帮助分类</h2>
                    <div class="faqs-section" style="height:430px;">
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <div class="item">
                                <div class="item-inner">
                                <div class="dj-container-bd1 dj-text-sm">
                                <div class="pe-icon pe-7s-user pe-4x"></div>
                                <h4><strong>开户指南</strong></h4>
                                </div>
                                </div><!--//item-inner-->
                            </div><!--//item-->
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <div class="item">
                                <div class="item-inner">
                                <div class="dj-container-bd1 dj-text-sm">
                                <div class="pe-icon pe-7s-piggy pe-4x"></div>
                                <h4><strong>资金相关</strong></h4>
                                </div>
                                </div><!--//item-inner-->
                            </div><!--//item-->
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <div class="item">
                                <div class="item-inner">
                                <div class="dj-container-bd1 dj-text-sm">
                                <div class="pe-icon pe-7s-note2 pe-4x"></div>
                                <h4><strong>收费标准</strong></h4>
                                </div>
                                </div><!--//item-inner-->
                            </div><!--//item-->
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <div class="item">
                                <div class="item-inner">
                                <div class="dj-container-bd1 dj-text-sm">
                                <div class="pe-icon pe-7s-repeat pe-4x"></div>
                                <h4><strong>股票转移</strong></h4>
                                </div>
                                </div><!--//item-inner-->
                            </div><!--//item-->
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <div class="item">
                                <div class="item-inner">
                                <div class="dj-container-bd1 dj-text-sm">
                                <div class="pe-icon pe-7s-display1 pe-4x"></div>
                                <h4><strong>美股交易</strong></h4>
                                </div>
                                </div><!--//item-inner-->
                            </div><!--//item-->
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <div class="item">
                                <div class="item-inner">
                                <div class="dj-container-bd1 dj-text-sm">
                                <div class="pe-icon pe-7s-safe pe-4x"></div>
                                <h4><strong>隐私安全</strong></h4>
                                </div>
                                </div><!--//item-inner-->
                            </div><!--//item-->
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">         
                        <h2 class="title">常见问题</h2>
                        <section class="faqs-section text-center">                        
                            <div class="faqs-tabbed tabpanel" role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#cat1" aria-controls="cat1" role="tab" data-toggle="tab">热点问题</a></li>
                                    <li role="presentation"><a href="#cat2" aria-controls="cat2" role="tab" data-toggle="tab">美股港股</a></li>
                                    <li role="presentation"><a href="#cat3" aria-controls="cat3" role="tab" data-toggle="tab">开户交易</a></li>
                                    <li role="presentation" class="last"><a href="#cat4" aria-controls="cat4" role="tab" data-toggle="tab">充值提现</a></li>
                                </ul><!--//nav-->                            
                                <!-- Tab panes -->
                                <div class="tab-content text-left">
                                    <div role="tabpanel" class="tab-pane-1 tab-pane fade in active" id="cat1">
                                        <h3 class="subtitle text-center">最常见问题</h3>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-1"><span class="pe-icon pe-7s-plus"></span>海鲸证券在相比于传统券商有什么区别和优势？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq1-1">
                                                <div class="panel-body">
                                                    海鲸证券为互联网券商，开户可在线完成，直连交易所，速度上更快，成交价格更优；交易佣金上，低至0.01美元/股。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-2"><span class="pe-icon pe-7s-plus"></span>我在海鲸证券开通的证券账户及账户里的资金是受保护的吗？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-2">
                                                <div class="panel-body">
                                                    在海鲸证券所开立的证券交易账户将受到美国证监会的严格监管。客户资产由第三方银行托管，同时接受证监会监管，同主流券商一样。如未经客户授权动用客户资产，属于严重违法行为。因此，若非获得客户本人授权，海鲸证券将无法处置客户账户内的任何资产。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-3"><span class="pe-icon pe-7s-plus"></span>我在海鲸证券上进行交易，海鲸证券怎么保护我的隐私数据？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-3">
                                                <div class="panel-body">
                                                    海鲸证券在登录和交易环节采用了自主研发领先的安全和加密技术，基于角色的最严格内控系统，严格防止外部攻击者对用户隐私信息的获取，为用户交易保驾护航。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq1-4"><span class="pe-icon pe-7s-plus"></span>如果海鲸证券在经营上出现了问题，我的资产是安全的吗？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq1-4">
                                                <div class="panel-body">
                                                    我们将客户资产隔离在指定给客户的专用特殊银行或托管账户中。该保护（SEC称为“储备”，CFTC称为“隔离”）是证券和商品经纪的核心原则。妥善分离客户资产的益处在于当经纪商违约或破产，并且客户没有借入资金或股票并且未持有期货头寸时，客户资产可以返还给客户。
                                                </div>
                                            </div>
                                        </div><!--//panel--> 
                                    </div><!--//tab-pane-1-->
                                    <div role="tabpanel" class="tab-pane-2 tab-pane fade" id="cat2">
                                        <h3 class="subtitle text-center">美股港股</h3>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq2-1"><span class="pe-icon pe-7s-plus"></span>美股的交易时间？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq2-1">
                                                <div class="panel-body">
                                                    美国东部时间（EDT）周一至周五 9:30～16:00 <br>
                                                    美夏令时：北京时间（21:30～4:00） <br>
                                                    非夏令时：北京时间（22:30～5:00） <br><br>
                                                    补充说明： <br> 
                                                    美国从每年4月到11月初采用夏令时，这段时间其交易时间为北京时间晚9:30－次日凌晨4:00 而在11月初到4月初，采用冬令时，则交易时间为北京时间晚10:30－次日凌晨5:00。

                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq2-2"><span class="pe-icon pe-7s-plus"></span>美股涨跌幅有限制吗？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq2-2">
                                                <div class="panel-body">
                                                    不同于A股，美股和港股都没有单日涨跌幅限制，所以流动性比A股好，不会发生A股一字板跌停丧失流动性无法卖出的情况，但投资者也要了解交易制度的差异，更好的控制风险。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq2-3"><span class="pe-icon pe-7s-plus"></span>美股有哪几类账户？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq2-3">
                                                <div class="panel-body">
                                                <ol>
                                                    <li>现金账户：默认开通的美股交易账户为现金账户，现金账户的交割方式为T+3。比如，您卖出股票必须等待3个交易日资金交割之后方可再使用该笔资金买入其他股票。</li>
                                                    <li>日内交易账户（T+0）：当您一周交易4次，或者一个月交易10次，您可升级账户为日内交易账户（T+0）,日内交易账户在一天之内可以无限次数交易股票。</li>
                                                </ol>
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq2-4"><span class="pe-icon pe-7s-plus"></span>美股的最小交易单位是多少？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse collapse" id="faq2-4">
                                                <div class="panel-body">
                                                    通过海鲸证券交易美股，委托订单需为100股的整数倍，最小为100股。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                    </div><!--//tab-pane-2-->
                                    <div role="tabpanel" class="tab-pane-3 tab-pane fade" id="cat3">
                                        <h3 class="subtitle text-center">开户交易</h3>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-1"><span class="pe-icon pe-7s-plus"></span>如何开户？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-1">
                                                <div class="panel-body">
                                                    点击“立即开户”，进入后按照提示操作注册，开户申请提交后，预计1个工作日完成审核，审核完成入金便可进行交易。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-2"><span class="pe-icon pe-7s-plus"></span>在线注册完成后，一般多长时间可以开始进行交易？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-2">
                                                <div class="panel-body">
                                                    注册完成后即可进行实名认证，一般1个工作日审核完成。审核通过后就可在线充值资金，充值资金在1-3个工作日到账，到账后即可进行交易。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-3"><span class="pe-icon pe-7s-plus"></span>账户有最低的限额吗？我需要入多少钱才可以开始交易？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-3">
                                                <div class="panel-body">
                                                    线上充值最低充值金额50美金（约合人民币322.00元），建议充值500美金以上，虽然美股有很多便宜的股票，但这些股票交易不活跃，一般是经营前景不看好的企业，风险较大，建议购买有前景的活跃股票。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-4"><span class="pe-icon pe-7s-plus"></span>为什么我会审核不通过？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-4">
                                                <div class="panel-body">
                                                    一般审核不通过的原因有几个： 1.传的照片不清晰。 2.身份证照片忘记签名。（很多用户忽略了这一点，您需要在一张空白纸处签名，然后和您的身份证一起拍照，再上传进行审核） 3.资料上传不完整。（完整的资料包括：A.带签名的身份证正面照片、B.带签名的身份证反面照片、C.开户本人手持身份证照片。） 4.手写签名不清晰，难以识别。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq3-5"><span class="pe-icon pe-7s-plus"></span>如果我原来的手机丢了或手机号注销了，怎么办？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq3-5">
                                                <div class="panel-body">
                                                    这不影响您的正常交易。您可以凭注册时的手机号码及密码登陆海鲸证券客户端，如需把原注册手机号码换掉，可直接在个人信息中更换手机号。一般提现时才需通过手机号进行验证，您只需保证您的银行预留手机号畅通即可。              
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                    </div><!--//tab-pane-3-->
                                    <div role="tabpanel" class="tab-pane tab-pane fade" id="cat4">
                                        <h3 class="subtitle text-center">充值提现</h3>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq4-1"><span class="pe-icon pe-7s-plus"></span>海鲸证券如何充值？目前支持哪些充值方式？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq4-1">
                                                <div class="panel-body">
                                                    登录海鲸证券账户，点击“充值”，按照提示流程操作； 海鲸证券支持在线充值。目前支持的银行包括：农业银行、建设银行、中国银行、广发银行、光大银行、民生银行、兴业银行。
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion"
                                                data-toggle="collapse" class="panel-toggle" href="#faq4-2"><span class="pe-icon pe-7s-plus"></span>海鲸证券入金标准？</a></h4>
                                            </div>
                                
                                            <div class="panel-collapse  collapse" id="faq4-2">
                                                <div class="panel-body">
                                                    1.海鲸证券线上充值每人充值限额3000美金，最低充值金额50美金（约合人民币322.00元）2.线上充值汇率＝实时波动汇率＋汇款手续费率，充值汇率略高于实际汇率。3.所支持充值银行：中国银行，农业银行，建设银行，民生银行，兴业银行，光大银行，广发银行
                                                </div>
                                            </div>
                                        </div><!--//panel-->
                                        
                                    </div><!--//tab-pane-4-->
                                </div><!--//tab-content-->                           
                            </div><!--//tab-panel-->
                        </section><!--//faqs-section-->
                        <section class="lead text-center">
                            <h3 class="subtitle">需要更多帮助?</h3>
                            <a class="btn btn-cta btn-cta-primary" href="/contact">联络我们</a>
                        </section><!--//lead-->
                    </div>
                </div><!--//row-->
            </div><!--//container-->
        </article><!--//article-->    