<article class="jobs article gradient-6">
            <div class="header-wrapper container text-center">                
                <h2 class="title">加入我们的鼎鲸团队</h2>
            </div><!--//container-->
            <section class="promo-section text-center">
                <div class="section-inner container">                
                    <div id="jobs-promo-slideshow" class="owl-carousel owl-theme">
                        <div class="item">
                            <h3 class="subtitle">鼎鲸优势</h3>
                            <p class="intro">我们成功培育了金融服务行业首屈一指的品牌。我们自成立起即建立了高标准并始终坚持至今，这使得我们赢得了稳固的声誉。我们的品牌及声誉既有助于我们吸引新客户和人才，又有助于我们保持现有客户和员工的稳定，从而不断强化我们的市场领先地位。我们相信该等良性循环将进一步持续。我们的品牌亦为我们赢得重要的业务机会。我们的客户相信我们能够成功执行他们最重要的战略交易。我们卓著的声誉有助我们为新产品及服务取得监管部门的支持，亦令我们更有效地向我们的客户推广新产品及服务。</p>
                            <div class="video-container">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/7Gfl4Up3xvY" frameborder="0" allowfullscreen></iframe>
                            </div><!--//video-container-->
                            <a class="btn btn-cta btn-cta-primary" href="about">了解鼎鲸团队</a>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="subtitle">公司文化</h3>
                            <p class="intro">不断倾听和满足用户需求，引导并超越用户需求，赢得用户尊敬。通过提升企业地位与品牌形象，使员工具有高度的企业荣誉感和自豪感，赢得员工尊敬。推动互联网行业的健康发展，与合作伙伴共同成长，赢得行业尊敬。注重企业责任，关爱社会、回馈社会，赢得社会尊敬。</p>
                            <figure class="figure text-center"><img class="img-responsive" src="sassets/images/jobs/culture.jpg" alt="" /></figure>
                            <a class="btn btn-cta btn-cta-primary" href="about">了解鼎鲸团队</a>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="subtitle">福利待遇</h3>
                            <p class="intro">公司为员工提供具有市场竞争力的薪资，并依据市场的薪酬水平和个人的业绩表现，每年为员工提供薪资晋升机会。公司为员工提供活动经费、生日礼品、集体旅游、健康体检、文体活动等各类福利项目，保证员工工作和生活的平衡。公司按照国家和深圳市的相关规定入职即为员工缴纳养老、医疗、失业、工伤、生育等社会保险和住房公积金。另外，公司还额外为员工提供了午餐补助和交通补助。</p>
                            <figure class="figure text-center"><img class="img-responsive" src="sassets/images/jobs/benefits.jpg" alt="" /></figure>
                            <a class="btn btn-cta btn-cta-primary" href="about">了解鼎鲸团队</a>
                        </div><!--//item-->
                    </div><!--//owl-carousel-->
                </div><!--//section-inner-->
            </section><!--//promo-section-->
            <section class="jobs-section container text-center">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                        <div class="section-inner">
                            <h3 class="subtitle">职位招聘</h3>
                            <p class="intro">长江不择细流，故能浩荡万里。最宝贵的财富是人才。鼎鲸证券永远欢迎杰出的人士和合作者加盟。鼎鲸证券认为天赋和能力至关重要，因此我们考虑各种教育工作经历背景的优秀人才。申请者请将简历发至 <a href="#">jobs@whalebrokers.com</a></p>
                            <div class="job-list-wrapper">
                                <div class="item">
                                    <div class="item-inner">
                                        <h4 class="job-title"><a href="#">中国区CEO／互联网市场总监</a></h4>
                                        <div class="meta">
                                            <ul class="list-inline">
                                                <li>全职</li>
                                                <li class="last">北京，上海，深圳</li>
                                            </ul>
                                        </div><!--//meta-->
                                        <div class="excerpt">
                                            <p>充分挖掘市场资源，探索和建立与外部品牌及机构的合作模式，积极开拓新的客户资源通过市场调研和市场数据分析，策划和制定营销方案，并持续推进落地。</p>
                                            <a class="more-link" href="#">详情请见<i class="fa fa-long-arrow-right"></i></a>
                                        </div>       
                                    </div><!--//item-inner-->                     
                                </div><!--//item-->
                                <div class="item">
                                    <div class="item-inner">
                                        <h4 class="job-title"><a href="#">新媒体品牌策划</a></h4>
                                        <div class="meta">
                                            <ul class="list-inline">
                                                <li>全职</li>
                                                <li class="last">多伦多，上海</li>
                                            </ul>
                                        </div><!--//meta-->
                                        <div class="excerpt">
                                            <p>负责制定新媒体平台（微信，微博）内容建设，专题的策划、选题、发布、维护。微信，微博线上活动的策划和执行，对内容品质、流量和影响力负责。制定并实施清晰的用户互动策略，发展粉丝与好友，转化潜在客户。运营效果的跟踪、数据分析和反馈及优化调整等工作。</p>
                                            <a class="more-link" href="#">详情请见<i class="fa fa-long-arrow-right"></i></a>
                                        </div>       
                                    </div><!--//item-inner-->                     
                                </div><!--//item-->
                                <div class="item">
                                    <div class="item-inner">
                                        <h4 class="job-title"><a href="#">IT技术人员</a></h4>
                                        <div class="meta">
                                            <ul class="list-inline">
                                                <li>全职</li>
                                                <li class="last">多伦多，上海</li>
                                            </ul>
                                        </div><!--//meta-->
                                        <div class="excerpt">
                                            <p>执行和反馈本部或经营本部的各个新、旧系统上线或升级工作，并推动实施。维护地区分布式系统及数据库、定期对数据库数据进行清理和备份，保证数据库稳定运行，并向用户数据报表需求或相应的数据提取。收集各部门为提高工作效率或工作质量而提出的各类意见或建议， 分析需求可行性，从而协助需求部门完成需求的提交。</p>
                                            <a class="more-link" href="#">详情请见<i class="fa fa-long-arrow-right"></i></a>
                                        </div>       
                                    </div><!--//item-inner-->                     
                                </div><!--//item-->
                            </div><!--//job-list-wrapper-->
                        </div><!--//section-inner-->
                    </div>
                </div><!--//row-->
            </section><!--//jobs-list-->    
        </article><!--//article-->    