<article class="jobs article gradient-6">
            <div class="header-wrapper container text-center">                
                <h2 class="title">加入鼎鲸</h2>
            </div><!--//container-->
            <section class="promo-section text-center">
                <div class="section-inner container">                
                    <div id="jobs-promo-slideshow" class="owl-carousel owl-theme">
                        <div class="item">
                            <h3 class="subtitle">鼎鲸优势</h3>
                            <p class="intro">填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容</p>
                            <div class="video-container">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/7Gfl4Up3xvY" frameborder="0" allowfullscreen></iframe>
                            </div><!--//video-container-->
                            <a class="btn btn-cta btn-cta-primary" href="about">了解鼎鲸团队</a>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="subtitle">公司文化</h3>
                            <p class="intro">填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容</p>
                            <figure class="figure text-center"><img class="img-responsive" src="sassets/images/jobs/culture.jpg" alt="" /></figure>
                            <a class="btn btn-cta btn-cta-primary" href="about">了解鼎鲸团队</a>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="subtitle">福利待遇</h3>
                            <p class="intro">填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容</p>
                            <figure class="figure text-center"><img class="img-responsive" src="sassets/images/jobs/benefits.jpg" alt="" /></figure>
                            <a class="btn btn-cta btn-cta-primary" href="about">了解鼎鲸团队</a>
                        </div><!--//item-->
                    </div><!--//owl-carousel-->
                </div><!--//section-inner-->
            </section><!--//promo-section-->
            <section class="jobs-section container text-center">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                        <div class="section-inner">
                            <h3 class="subtitle">职位招聘</h3>
                            <p class="intro">长江不择细流，故能浩荡万里。”最宝贵的财富是人才“。鼎鲸证券永远欢迎杰出的人士和合作者加盟。鼎鲸证券认为天赋和能力至关重要，因此我们考虑各种教育工作经历背景的优秀人才。申请者请将简历发至 <a href="#">jobs@whalebrokers.com</a></p>
                            <div class="job-list-wrapper">
                                <div class="item">
                                    <div class="item-inner">
                                        <h4 class="job-title"><a href="#">中国区CEO／互联网市场总监</a></h4>
                                        <div class="meta">
                                            <ul class="list-inline">
                                                <li>全职</li>
                                                <li class="last">北京，上海，深圳</li>
                                            </ul>
                                        </div><!--//meta-->
                                        <div class="excerpt">
                                            <p>填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容</p>
                                            <a class="more-link" href="#">详情请见<i class="fa fa-long-arrow-right"></i></a>
                                        </div>       
                                    </div><!--//item-inner-->                     
                                </div><!--//item-->
                                <div class="item">
                                    <div class="item-inner">
                                        <h4 class="job-title"><a href="#">新媒体品牌策划</a></h4>
                                        <div class="meta">
                                            <ul class="list-inline">
                                                <li>全职</li>
                                                <li class="last">多伦多，上海</li>
                                            </ul>
                                        </div><!--//meta-->
                                        <div class="excerpt">
                                            <p>填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容</p>
                                            <a class="more-link" href="#">详情请见<i class="fa fa-long-arrow-right"></i></a>
                                        </div>       
                                    </div><!--//item-inner-->                     
                                </div><!--//item-->
                                <div class="item">
                                    <div class="item-inner">
                                        <h4 class="job-title"><a href="#">IT技术人员</a></h4>
                                        <div class="meta">
                                            <ul class="list-inline">
                                                <li>全职</li>
                                                <li class="last">多伦多，上海</li>
                                            </ul>
                                        </div><!--//meta-->
                                        <div class="excerpt">
                                            <p>填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容填写内容</p>
                                            <a class="more-link" href="#">详情请见<i class="fa fa-long-arrow-right"></i></a>
                                        </div>       
                                    </div><!--//item-inner-->                     
                                </div><!--//item-->
                            </div><!--//job-list-wrapper-->
                        </div><!--//section-inner-->
                    </div>
                </div><!--//row-->
            </section><!--//jobs-list-->    
        </article><!--//article-->    