        <div id="fullpage" class="sections-wrapper">
            
            <!-- ******Promo Section****** -->
            <section id="promo" class="promo section gradient-0">
                <div class="container">
                    <div class="row">                                      
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dj-container text-center">
                            <h1><strong>鼎鲸证券</strong></h1>
                            <h3>全球华人最好的投资和财富管理平台</h3>
                        </div>           
                        </div><!--//intro-area-->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="arrow-holder text-center">
                            <p class="lead-text"><a href="#benefit1">了解更多</a></p>
                            <a href="#benefit1" class="animate pe-7s-bottom-arrow pe-3x"></a>
                        </div><!--//arrow-holder-->
                        </div>                       
                    </div><!--//row-->
                </div><!--//container-->            
            </section><!--//promo-->
            
            <!-- ******Benefit-1 Section****** -->
            <section id="benefit-1" class="benefit-1 section gradient-bs has-pattern">
                <div class="section-inner">
                    <div class="container text-center">
                        <div class="row">
                            <div id="b1" class="content col-md-8 col-sm-6 col-xs-12">
                                <div class="content-inner">
                                    <span class="pe-icon pe-7s-display1 pe-5x"></span>
                                    <h2 class="title text-center">美股交易</h2>
                                    <p class="intro text-center">鼎新证券是领先的跨境互联网券商。开户方便快捷，24小时客服，第三方托管资金保证安全。让您体验最好的投资服务。</p>

                                    <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">轻松便捷开户</div> 
                                        <div class="face back">足不出户，无需线下验证。鼎鲸证券为您3分钟完成开户流程。三个工作日完成开户审批，自此开始全球投资之旅。</div> 
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">免费实时行情</div>
                                        <div class="face back">鼎鲸证券为投资者提供免费实时行情，独具特色的Level-2数据协助投资者做出最优决策，赢在起点。</div>
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">最低交易佣金</div> 
                                        <div class="face back">鼎鲸证券与全球最大的计算器交易商合作，采用国际上延迟最低的交易系统，并把美股交易费率降低为0.01美元／股。</div> 
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">交易信号提醒</div> 
                                        <div class="face back">鼎鲸专业投研团队及时推送交易信号。或来自于技术指标变动，或来自于公司重大新闻，协助投资者获得利润。</div> 
                                    </div> 
                                </div> 
                                </div><!--//content-inner-->
                                <div class="">
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/contact">马上开户</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/trade">了解更多</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/download">软件下载</a>
                                </div>    
                                
                            </div><!--//content-->
                            <div class="device device-iphone col-md-4 col-sm-6 col-xs-12">     
                                <div class="device-holder iphone-holder iphone-gold-holder offset-top">                 
                                    <div class="device-holder-inner">
                                        <img class="img-responsive" src="/sassets/images/devices/screenshots/2.png" alt="">
                                    </div><!--//device-holder-inner-->  
                                </div><!--//device-holder-->            
                            </div><!--//phone-holder-->                         
                        </div><!--//row-->
                    </div><!--//container-->
                </div><!--//section-inner-->
            </section><!--//benefit-1-->
            
            <!-- ******Benefit-2 Section****** -->
            <section id="benefit-2" class="benefit-2 section gradient-bs has-pattern">
                <div class="section-inner">
                    <div class="container text-center">
                        <div class="row">
                            <div id="b2" class="content col-md-7 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-6 col-xs-push-0">
                                <div class="content-inner">
                                    <span class="pe-icon pe-7s-science pe-5x"></span>
                                    <h2 class="title text-center">智能组合投资</h2>
                                    <p class="intro text-center">智能组合、私人订制。您的风险承受水平决定了您的投资收益。鼎新证券智能工具为您量身打造专属组合方案。</p>

                                    <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">透明安全</div> 
                                        <div class="face back">智能投资组合为投资者量身定做，账户归投资者个人所有。投资标的和盈亏信息全部展示到投资者个人账户里，100%安全。</div> 
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">分散布局</div>
                                        <div class="face back">智能投资组合投资于全球金融市场，涉及股票，债券和货币。分散投资帮助投资者在相同收益的情况下降低风险。</div>
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">费用低廉</div> 
                                        <div class="face back">比较于股票交易和其他投资方式，智能投资组合投资于被动式基金，年费率低至0.5%左右，低成本帮助投资者取得额外回报，收益稳健。</div> 
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">省心省力</div> 
                                        <div class="face back">鼎鲸证券根据您的风险测评结果为您推荐投资组合，每月实施自动再平衡。投资人无需任何动作，只需查看账户便对投资情况了如指掌。</div> 
                                    </div> 
                                </div> 
                                </div><!--//content-inner-->
                                <div class="">
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/contact">我要投资</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/smart">了解更多</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="#">风险评测</a>
                                </div>    
                            </div><!--//content-->
                            <div class="device device-iphone col-md-4 col-sm-6 col-xs-12 col-md-pull-7 col-sm-pull-6 col-xs-pull-0">     
                                <div class="device-holder iphone-holder iphone-gold-holder offset-top">                 
                                    <div class="device-holder-inner">
                                        <img class="img-responsive" src="/sassets/images/devices/screenshots/6.png" alt="">
                                    </div><!--//device-holder-inner-->  
                                </div><!--//device-holder-->                  
                            </div><!--//phone-holder-->                         
                        </div><!--//row-->
                    </div><!--//container-->
                </div><!--//section-inner-->
            </section><!--//benefit-2-->
            
            <!-- ******Benefit-3 Section****** -->
            <section id="benefit-3" class="benefit-3 section gradient-bs has-pattern">
                <div class="section-inner">
                    <div class="container text-center">
                        <div class="row">
                            <div id="b3" class="content col-md-7 col-sm-6 col-xs-12">
                                <div class="content-inner">
                                    <span class="pe-icon pe-7s-portfolio pe-5x"></span>
                                    <h2 class="title text-center">基金和个人专户</h2>
                                    <p class="intro text-center">中国第一家全球基金超市，足不出户投资全球基金。VIP客户还可以选择开设个人专户投资理财，轻松聘用全球最杰出基金经理为您投资。</p>

                                    <div class="flip col-md-6 col-sm-6 col-xs-6 dj-height"> 
                                    <div class="card"> 
                                        <div class="face front">选购全球最好基金</div> 
                                        <div class="face back">鼎鲸证券代理超过5,000只北美投资基金销售，投资范围涵盖所有市场和投资工具。投资者轻松查看比较基金表现，选取符合自己投资目标的精选基金。</div> 
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6 dj-height"> 
                                    <div class="card"> 
                                        <div class="face front">专享VIP个人专户</div>
                                        <div class="face back">鼎鲸独创个人专户理财方式，投资人开设投资专户挂靠全球精英私募基金经理。他的投资回报就是您的收益。投资人随时开关账户，随时查阅收益。个人专户开启私募投资新模式。</div>
                                    </div> 
                                </div> 
                                </div><!--//content-inner-->
                                <div class="">
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/contact">投资咨询</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/fund">了解更多</a>
                                </div>  
                            </div><!--//content-->
                            <div class="device device-iphone col-md-4 col-sm-6 col-xs-12">     
                                <div class="device-holder iphone-holder iphone-gold-holder offset-top">                 
                                    <div class="device-holder-inner">
                                        <img class="img-responsive" src="/sassets/images/devices/screenshots/4.png" alt="">
                                    </div><!--//device-holder-inner-->  
                                </div><!--//device-holder-->                  
                            </div><!--//phone-holder-->                         
                        </div><!--//row-->
                    </div><!--//container-->
                </div><!--//section-inner-->
            </section><!--//benefit-3-->
        </div><!--//sections-wrapper-->