        <div id="fullpage" class="sections-wrapper gradient-3">
            
            <!-- ******Promo Section****** -->
            <section id="promo" class="promo section gradient-0">
                <div class="container">
                    <div class="row">                                      
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dj-container text-center">
                            <h1 style="font-size: 60px !important;font-weight: 900 !important;">海鲸证券</h1>
                            <h3>美股＋基金，投资在海鲸<br>最专业的美股券商</h3>
                        </div>           
                        </div><!--//intro-area-->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="arrow-holder text-center">
                            <p class="lead-text"><a href="#benefit1">了解更多</a></p>
                            <a href="#benefit1" class="animate pe-7s-bottom-arrow pe-3x"></a>
                        </div><!--//arrow-holder-->
                        </div>                       
                    </div><!--//row-->
                </div><!--//container-->            
            </section><!--//promo-->
            
            <!-- ******Benefit-1 Section****** -->
            <section id="benefit-1" class="benefit-1 section has-pattern">
                <div class="section-inner">
                    <div class="container text-center">
                        <div class="row">
                            <div id="b1" class="content col-md-8 col-sm-6 col-xs-12">
                                <div class="content-inner">
                                    <span class="pe-icon pe-7s-display1 pe-5x"></span>
                                    <h2 class="title text-center">美股交易</h2>
                                    <p class="intro text-center">海鲸证券是全球领先的跨境互联网券商。开户方便快捷，7/24小时在线客服，第三方资金托管安全有保证。一切只为让您体验最好的网上投资服务。</p>

                                    <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">快捷开户</div> 
                                        <div class="face back"><div class="flip-title">轻松便捷开户
                                        </div><div class="flip-content">足不出户，无需线下验证。海鲸证券3分钟为您完成开户流程。三个工作日内完成开户审批，自此开启您的全球投资之旅。</div></div> 
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">实时行情</div>
                                        <div class="face back"><div class="flip-title">免费实时行情
                                        </div><div class="flip-content">海鲸证券为投资者提供免费实时行情，独具特色的Level-2数据协助投资者做出最优决策，赢在起点。</div></div> 
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">最低佣金</div> 
                                        <div class="face back"><div class="flip-title">最低交易佣金
                                        </div><div class="flip-content">海鲸证券与全球最大的计算器交易商合作，采用国际上延迟最低的交易系统，美股交易费率低至0.01美元／股。</div></div>  
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">交易提醒</div> 
                                        <div class="face back"><div class="flip-title">交易信号提醒
                                        </div><div class="flip-content">海鲸专业投研团队实时推送交易提醒。或来自于技术指标变动，或来自于公司重大新闻，协助投资者创造最佳收益。</div></div>  
                                    </div> 
                                </div> 
                                </div><!--//content-inner-->
                                <div class="">
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/contact">马上开户</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/trade">了解更多</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/download">软件下载</a>
                                </div>    
                                
                            </div><!--//content-->
                            <div class="device device-iphone col-md-4 col-sm-6 col-xs-12">     
                                <div class="device-holder iphone-holder iphone-gold-holder offset-top">                 
                                    <div class="device-holder-inner">
                                        <img class="img-responsive" src="/sassets/images/devices/screenshots/2.png" alt="">
                                    </div><!--//device-holder-inner-->  
                                </div><!--//device-holder-->            
                            </div><!--//phone-holder-->                         
                        </div><!--//row-->
                    </div><!--//container-->
                </div><!--//section-inner-->
            </section><!--//benefit-1-->
            
            <!-- ******Benefit-2 Section****** -->
            <section id="benefit-2" class="benefit-2 section has-pattern">
                <div class="section-inner">
                    <div class="container text-center">
                        <div class="row">
                            <div id="b2" class="content col-md-7 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-6 col-xs-push-0">
                                <div class="content-inner">
                                    <span class="pe-icon pe-7s-science pe-5x"></span>
                                    <h2 class="title text-center">智能组合投资</h2>
                                    <p class="intro text-center">智能组合、私人订制。智能风险测评，海鲸证券为您量身打造专属投资组合方案。</p>

                                    <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">透明安全</div> 
                                        <div class="face back"><div class="flip-title">透明安全
                                        </div><div class="flip-content">智能投资组合为投资者量身定做，账户归投资者个人所有。投资标的和盈亏信息会在投资者个人账户里公开、详细地展示，透明公开，让您投得放心。</div></div>  
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">分散布局</div>
                                        <div class="face back"><div class="flip-title">分散布局
                                        </div><div class="flip-content">智能投资组合投资于全球金融市场，涉及股票，债券和货币。分散投资能帮助投资者在相同收益的情况下降低风险。</div></div> 
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">费用低廉</div> 
                                        <div class="face back"><div class="flip-title">费用低廉
                                        </div><div class="flip-content">较于股票交易和其他投资方式，智能投资组合投资属于被动式基金，年费率低至0.5%左右，低成本，额外回报，让投资者获得稳健收益。</div></div>  
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6"> 
                                    <div class="card"> 
                                        <div class="face front">省心省力</div> 
                                        <div class="face back"><div class="flip-title">省心省力
                                        </div><div class="flip-content">海鲸证券会根据投资者的风险测评为您推荐最合适的投资组合，每月实施自动再平衡。只需查看个人账户，投资动态一览无余，了如指掌。</div></div>  
                                    </div> 
                                </div> 
                                </div><!--//content-inner-->
                                <div class="">
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/contact">我要投资</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/smart">了解更多</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/risktest">风险评测</a>
                                </div>    
                            </div><!--//content-->
                            <div class="device device-iphone col-md-4 col-sm-6 col-xs-12 col-md-pull-7 col-sm-pull-6 col-xs-pull-0">     
                                <div class="device-holder iphone-holder iphone-gold-holder offset-top">                 
                                    <div class="device-holder-inner">
                                        <img class="img-responsive" src="/sassets/images/devices/screenshots/6.png" alt="">
                                    </div><!--//device-holder-inner-->  
                                </div><!--//device-holder-->                  
                            </div><!--//phone-holder-->                         
                        </div><!--//row-->
                    </div><!--//container-->
                </div><!--//section-inner-->
            </section><!--//benefit-2-->
            
            <!-- ******Benefit-3 Section****** -->
            <section id="benefit-3" class="benefit-3 section has-pattern">
                <div class="section-inner">
                    <div class="container text-center">
                        <div class="row">
                            <div id="b3" class="content col-md-7 col-sm-6 col-xs-12">
                                <div class="content-inner">
                                    <span class="pe-icon pe-7s-portfolio pe-5x"></span>
                                    <h2 class="title text-center">基金和个人专户</h2>
                                    <p class="intro text-center">中国第一家全球基金超市，让您足不出户纵览全球基金。VIP客户还能选择开设个人专户投资理财，轻松聘用全球最杰出的基金经理为您投资。</p>

                                    <div class="flip col-md-6 col-sm-6 col-xs-6 dj-height"> 
                                    <div class="card"> 
                                        <div class="face front" style="padding-top: 60px;">选购全球最好基金</div> 
                                        <div class="face back"><div class="flip-title">选购全球最好基金
                                        </div><div class="flip-content">海鲸证券代理超过5,000只北美投资基金销售，投资范围涵盖所有市场和投资工具。投资者能轻松查看比较基金表现，选取符合自己投资目标的精选基金。</div></div>  
                                    </div> 
                                </div> 
                                <div class="flip col-md-6 col-sm-6 col-xs-6 dj-height"> 
                                    <div class="card"> 
                                        <div class="face front" style="padding-top: 60px;">专享VIP个人专户</div>
                                        <div class="face back">
                                        <div class="flip-title">专享VIP个人专户
                                        </div><div class="flip-content">
                                        海鲸证券独创个人专户理财方式，投资人开设投资专户挂靠全球精英私募基金经理，专业性的服务就是您收益的保障。投资收益透明化，随时随地可以查阅；投资期限无限制，随时可以买入、赎回。开创个人专户私募投资新模式。</div></div>
                                    </div> 
                                </div> 
                                </div><!--//content-inner-->
                                <div class="">
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/contact">投资咨询</a>
                                <a class="btn btn-cta btn-cta-primary dj-margin" href="/fund">了解更多</a>
                                </div>  
                            </div><!--//content-->
                            <div class="device device-iphone col-md-4 col-sm-6 col-xs-12">     
                                <div class="device-holder iphone-holder iphone-gold-holder offset-top">                 
                                    <div class="device-holder-inner">
                                        <img class="img-responsive" src="/sassets/images/devices/screenshots/5.png" alt="">
                                    </div><!--//device-holder-inner-->  
                                </div><!--//device-holder-->                  
                            </div><!--//phone-holder-->                         
                        </div><!--//row-->
                    </div><!--//container-->
                </div><!--//section-inner-->
            </section><!--//benefit-3-->
        </div><!--//sections-wrapper-->