<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid container-fluid-spacious">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <span><img src="/sassets/images/extra/logo5.png" height="30" width="200" style="padding-bottom: 2px;">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li 
          <%if(page=='login'){ %>
          class="active"
          <% } %>
          >
          <%if(!auth){ %>
            <a href="/login">Login｜Register</a>
          <% } else { %>
            <a href="/logout">Logout</a>
          <% } %>
          </li>
        </ul>
      </div>
    </div>
  </nav>