<article class="about article gradient-4">          
        <h2 class="title container text-center">海鲸证券隐私声明</h2>
        <section class="about-section">
            <div class="section-inner container text-center">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                    <div class="text-left"> 
                        <div class="content">
                            <p>海鲸证券（以下简称海鲸）为了您的个人信息安全性与保密性，鼎鲸证券确定以下保密守则。<br>在海鲸证券开户、使用鼎鲸的产品及服务都将代表您同意以下保密守则，建议您仔细阅读。</p>        
                        </div><!--//content-->
                        <div class="dj-text-sg">根据法律监管要求，我们将搜集您以下的非公共信息:</div>
                        <ul class="content dj-text-md">
                            <li>身份信息和就业信息</li>
                            <li>账户余额和交易历史</li>
                            <li>信用历史和投资经验</li>    
                        </ul><!--//content-->
                        <div class="dj-text-sg">海鲸证券如何保护您的个人信息：</div>
                        <div class="content dj-text-md1">
                            <p>为了保护您的个人信息，防范未经授权的访问和使用，我们将使用法律要求的安全措施，这些措施包括：电脑防护，加密文件以及安全办公楼。除非法律法规要求，否则我们不会将个人、非公开信息披露给第三方。例如，在其它原因下我们可能披露或报告这类信息：在有必要授权、完成、监管或执行您所要求或授权的交易的时候；维护及监管您的账户；向您提供账户确认、账单和记录；维持正确的档案记录；在我们相信根据相应的法律、法则或规章披露是必需的时候；与执法机关或监管或自监管组织合作；执行我们的客户协议及其它协议；满足我们的责任，或保护我们的权利及财产</p>  
                        </div><!--//content-->
                        <div class="dj-text-sg">海鲸证券可依据个人资料(私隐)条例及其他适用法律进行以下活动：</div>
                        <ul class="content dj-text-md">
                            <li>向客户提供之服务及设施之日常运作</li>
                            <li>进行信贷审查； 协助其他机构进行信贷审查</li> 
                        </ul><!--//content-->
                        <div class="dj-text-sg">免责声明</div>
                        <ul class="content dj-text-md">
                            <li>所有投资都存在风险。任何一支证券或金融产品的历史数据都不能保证其未来的表现及回报。虽然投资多样化可以帮助分散风险，但是并不能在市场低迷时确保您获益或防止您损失。投资证券或金融产品总会存在潜在的亏损可能。投资者在进行投资前需考虑自身的投资目标及风险承受能力。</li>
                            <li>当您使用本产品时，即表示您已完全了解可能存在的风险并同意承担业务存在的全部风险，并表明您已阅读、了解并接受本声明内所有内容。本产品有权于任意时间修改或变更本声明内容，请您随时注意。您于任何修改或变更后继续使用本产品时，都将视为您已阅读、了解并接受该等修改或变更</li>
                            <li>您承诺绝不为任何非法目的或以任何非法方式使用海鲸的产品，并承诺遵守相关法例及一切使用互联网的国际惯例。您同意并保证不得利用海鲸所提供的服务从事侵害他人权益或任何违法行为。</li>
                            <li>本产品所提供的服务有时可能会出现中断、故障等现象，或许将造成您使用上的不便或经济上的损失等情形。您于使用本产品时宜自行采取防护措施。因您使用（或无法使用）本产品所提供的服务而造成的损害不负任何赔偿责任。</li>
                            <li>海鲸证券以及其控股公司或任何附属公司将竭力确保所提供信息的可靠性和准确性，但不能保证其绝对可靠和准确，本产品中的行情价格、图、评论和购买或者其他信息应该谨慎作为仅参考使用。海鲸证券不会承担因任何不准确或遗漏而引起损失或损害的任何责任。</li>
                            <li>本产品随时会与其他公司合作，并对其提供包括但不限于新闻、资讯等不同的内容进行刊登，刊登时均会注明内容提供者。基于尊重内容提供者之知识产权，本产品对其提供的内容并不做实质性的审查或修改，对该内容之真伪亦不负任何责任，请您自行判断。若您认为某些内容涉及侵权或有所不实，请径自向该内容的提供者反映意见。</li>
                            <li>本产品所使用的软件或程序、产品上所有内容，包括但不限于著作、图片、档案、资讯、资料、产品架构、产品设计，均由海鲸证券或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、营业秘密与专有技术等。任何人不得擅自使用、修改、重制、公开播送、改作、散布、发行、公开发表、进行还原工程、解编或反向组译。若您准备引用或转载前述软件、程序或产品内容，必须依法取得海鲸证券或其他权利人的事前书面同意。如若违反，则应负损害赔偿责任（包括但不限于诉讼费及律师费等）。</li> 
                        </ul><!--//content-->
                        <div class="dj-text-sg">其它</div>
                        <div class="content dj-text-md1">
                            <p>盈透证券是美国注册的经纪商-经销商、期货佣金商及外汇交易商会员，受美国证券交易委员会SEC、商品期货交易委员会CFTC、及国家期货业协会NFA监管，并且是美国金融业管理局 FINRA及其他规管自律组织的会员。美国盈透证券不被隶属于、也不背书或推荐任何金融顾问或经纪商，包括海鲸证券。盈透证券为鼎鲸证券介绍的客户提供执行和清算服务。以上的任何信息均不构成推荐、建议，或盈透招揽买入、卖出或持有任何证券、金融产品或工具或参与任何具体投资策略的要约。美国盈透不参与并且对于此网站提供的信息准确度及完成度不作任何陈述及不承担任何责任。想获得更多的关于盈透证券的信息，敬请访问下面网址www.interactivebrokers.com 或www.ibkr.com.cn</p>  
                        </div><!--//content-->
                    </div>
                    </div>
                </div><!--//row-->
            </div><!--//section-inner-->
        </section><!--//about-->
        <div class="press-cta container text-center dj-section">
                <h3>如需更多信息，请与我们联系。</h3>
                <br>
                <a class="btn btn-cta btn-cta-primary" href="/contact">联络我们</a>
            </div><!--//container-->
    </article><!--//article-->   