        <article class="press article gradient-9">    
            <div class="header-wrapper container text-center">
                <h2 class="title">为什么选择智能投资组合？</h2>
            </div><!--//header-wrapper-->
            <section class="press-coverage-section">
                <div class="section-inner container">
                    <h3 class="subtitle sr-only">Press Coverage</h3>
                    <div class="container">
                    <div class="row">
                    <div class="press-release-section press-section col-md-6 col-sm-12 col-xs-12" style="padding: 40px;">
                    <div class="section-inner dj-padding2">
                                    <span class="pe-icon pe-7s-global pe-3x"></span>
                                    <h3 class="title text-center">全球投资</h3>
                                    <p class="intro text-center">我们推荐的投资组合涵盖包括欧，美，亚150多个国家和数以万计的公司。我们相信只有采集海量的样本，才能发现投资领域里的钻石和黄金。</p>
                                </div><!--//section-inner-->
                    
                    <img class="img-responsive" src="/images/globe.png">
                    <br>

                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="dj-container-bd-sm">
                            10+行业   
                    </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="dj-container-bd-sm">
                            150+国家
                    </div>  
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="dj-container-bd-sm">
                            10000+公司  
                    </div>  
                    </div>
        
                    </div>

                    <div class="press-release-section press-section col-md-6 col-sm-12 col-xs-12" style="padding: 40px;">
                    <div class="section-inner dj-padding2">
                                    <span class="pe-icon pe-7s-graph pe-3x"></span>
                                    <h3 class="title text-center">分散布局</h3>
                                    <p class="intro text-center">投资组合平衡配置股票和债券。这不仅能够降低风险，而且能使长期的回报更稳定，这是价值投资者理性的选择。</p>
                                </div><!--//section-inner-->
                    <img class="img-responsive" src="/images/mix3.png">
                    </div>
                    </div>
                    </div>
                </div><!--//section-inner-->                  
            </section>
            <div class="press-cta container text-center dj-section">
                <h3>如需更多信息，请与我们联系。</h3>
                <br>
                <a class="btn btn-cta btn-cta-primary" href="#">联系我们</a>
            </div><!--//container-->
            </article>