        <article class="press article gradient-9">    
            <div class="header-wrapper container text-center">
                <h2 class="title">为什么选择智能投资组合？</h2>
            </div><!--//header-wrapper-->
            <section class="press-coverage-section">
                <div class="section-inner container">
                    <h3 class="subtitle sr-only">Press Coverage</h3>
                    <div class="container">
                    <div class="row">

                    <div class="press-release-section press-section col-md-6 col-sm-12 col-xs-12" style="padding: 100px 40px 0px 40px;">
                    <div class="section-inner dj-padding2">
                                    <span class="pe-icon pe-7s-global pe-3x"></span>
                                    <h3 class="title text-center">全球投资</h3>
                                    <p class="intro text-center">海鲸证券精选推荐的投资组合涵盖欧、美、亚150多个国家和数以万计的公司。我们相信只有采集海量的样本，才能挖掘出投资领域里的钻石和黄金。</p>
                                </div><!--//section-inner-->
                    
                    <img class="img-responsive" src="/images/globe.png">
                    <br>

                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="dj-container-bd-sm">
                            10+行业   
                    </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="dj-container-bd-sm">
                            150+国家
                    </div>  
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="dj-container-bd-sm">
                            10000+公司  
                    </div>  
                    </div>
        
                    </div>

                    <div class="press-release-section press-section col-md-6 col-sm-12 col-xs-12" style="padding: 100px 40px 15px 40px;">
                    <div class="section-inner dj-padding2">
                                    <span class="pe-icon pe-7s-graph pe-3x"></span>
                                    <h3 class="title text-center">分散布局</h3>
                                    <p class="intro text-center">智能投资组合会根据投资者不同的风险评测结果，自动优化配置出适合投资者的专属投资方案。这不仅能够降低风险，规避单只股票或基金的黑天鹅事件，而且能使长期的回报更稳定，是为价值投资者的理想选择。</p>
                                </div><!--//section-inner-->
                    <img class="img-responsive" src="/images/mix3.png">
                    </div>


                    <div class="press-release-section press-section col-md-6 col-sm-12 col-xs-12" style="padding: 100px 40px 15px 40px;">
                    <div class="section-inner dj-padding2">
                                    <span class="pe-icon pe-7s-id pe-3x"></span>
                                    <h3 class="title text-center">量身订制</h3>
                                    <p class="intro text-center">大数据智能选择最优工具。这不仅能够降低风险，规避单只股票或基金的黑天鹅事件，而且能使长期的回报更稳定，这是价值投资者理性的选择。</p>
                                </div><!--//section-inner-->
                    <img class="img-responsive" src="/images/mix6.png">
                    </div>

                    <div class="press-release-section press-section col-md-6 col-sm-12 col-xs-12" style="padding: 100px 40px 15px 40px;">
                    <div class="section-inner dj-padding2">
                                    <span class="pe-icon pe-7s-refresh-2 pe-3x"></span>
                                    <h3 class="title text-center">及时调整</h3>
                                    <p class="intro text-center">省时省力，专业团队为您自动调整组合。这不仅能够降低风险，规避单只股票或基金的黑天鹅事件，而且能使长期的回报更稳定，这是价值投资者理性的选择。</p>
                                </div><!--//section-inner-->
                    <img class="img-responsive" src="/images/mix4.png">
                    </div>

                    <div class="press-release-section press-section col-md-12 col-sm-12 col-xs-12" style="padding: 40px 40px 40px 40px;">
                    <div class="section-inner dj-padding2" style="padding-bottom: 0px !important;">
                                    <span class="pe-icon pe-7s-graph2 pe-3x"></span>
                                    <h3 class="title text-center">收益分析</h3>
                                    <p class="intro text-center">风险水平下的受益最大化，赚取长期稳定的收益。不同的投资者对风险的承受能力不一样，只有更好的了解自己，了解适合自己的回报预期，才能在胜利的时候拿得住，在困难的时候守得住。下表我们提供到截止2006年1月31日，不同风险等级下1至5年的回报率。<br><br><a class="btn btn-cta btn-cta-primary" href="/risktest">风险测试</a></p>
                                </div><!--//section-inner-->
                                <table class="table table-bordered text-left">
    <thead>
      <tr>
        <th>风险等级</th>
        <th>一年收益</th>
        <th>二年收益</th>
        <th>三年收益</th>
        <th>四年收益</th>
        <th>五年收益</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10</td>
        <td>-13.4%</td>
        <td>1.0%</td>
        <td>33.1%</td>
        <td>50.6%</td>
        <td>56.5%</td>
      </tr>
            <tr>
        <td>9</td>
        <td>-13.9%</td>
        <td>0.0%</td>
        <td>27.9%</td>
        <td>47.6%</td>
        <td>55.7%</td>
      </tr>
            <tr>
        <td>8</td>
        <td>-11.3%</td>
        <td>2.0%</td>
        <td>28.5%</td>
        <td>46.1%</td>
        <td>53.7%</td>
      </tr>
            <tr>
        <td>7</td>
        <td>-11.0%</td>
        <td>1.0%</td>
        <td>22.8%</td>
        <td>39.0%</td>
        <td>45.9%</td>
      </tr>
            <tr>
        <td>6</td>
        <td>-10.5%</td>
        <td>1.3%</td>
        <td>19.8%</td>
        <td>37.3%</td>
        <td>45.9%</td>
      </tr>
            <tr>
        <td>5</td>
        <td>-8.4%</td>
        <td>3.9%</td>
        <td>20.6%</td>
        <td>35.0%</td>
        <td>42.9%</td>
      </tr>
            <tr>
        <td>4</td>
        <td>-7.8%</td>
        <td>3.9%</td>
        <td>16.7%</td>
        <td>31.5%</td>
        <td>41.8%</td>
      </tr>
            <tr>
        <td>3</td>
        <td>-6.2%</td>
        <td>5.0%</td>
        <td>14.4%</td>
        <td>26.7%</td>
        <td>36.7%</td>
      </tr>
            <tr>
        <td>2</td>
        <td>-3.9%</td>
        <td>6.2%</td>
        <td>12.8%</td>
        <td>23.4%</td>
        <td>33.9%</td>
      </tr>
            <tr>
        <td>1</td>
        <td>-2.9%</td>
        <td>5.8%</td>
        <td>7.6%</td>
        <td>15.8%</td>
        <td>26.8%</td>
      </tr>
    </tbody>
  </table>                 
    </div>
                    </div><!--//row--> 
                    </div>
                </div><!--//section-inner-->                  
            </section>
             <div class="press-cta container text-center dj-section">
                <h3>如需更多信息，请与我们联系。</h3>
                <br>
                <a class="btn btn-cta btn-cta-primary" href="/contact">联络我们</a>
            </div><!--//container-->
            </article>