<article class="article gradient-4">          
        <h2 class="title container text-center">风险测试问答 5/6</h2>
        <section class="about-section">
            <div class="section-inner container text-center">
                <div class="row">
                    <div class="text-left" >
                    <h3 class="subtitle col-md-12 col-sm-12 col-xs-12 col-md-push-2 col-sm-push-0 col-xs-push-0">各国股市通常是波动的，如果您的所有投资在一次震荡中贬值了10%，您会做什么？</h3>
                    <form action="/risktest" method="post">
<div class="content col-md-12 col-sm-12 col-xs-12 col-md-push-2 col-sm-push-0 col-xs-push-0">                       
<div class="radio dj-text-md2">
  <label><input type="radio" name="opt5" value="1">卖掉全部</label>
</div>
<div class="radio dj-text-md2">
  <label><input type="radio" name="opt5" value="2">卖掉一部分</label>
</div>
<div class="radio dj-text-md2">
  <label><input type="radio" name="opt5" value="3">继续持有</label>
</div>
<div class="radio dj-text-md2">
  <label><input type="radio" name="opt5" value="4">买入更多</label>
</div>       
</div>               
            <div class="press-cta container text-center">
                <input value="5" name="pageid" hidden>
                <input value=<%=f1%> name="f1" hidden>
                <input value=<%=f2%> name="f2" hidden>
                <input value=<%=f3%> name="f3" hidden>
                <input value=<%=f4%> name="f4" hidden>
                <input type="submit" class="btn btn-lg btn-cta-primary" disabled="disabled" value="下一步" name="submit">
            </div><!--//container-->
                        </form><!--//content-->
                    </div>
                </div><!--//row-->
            </div><!--//section-inner-->
        </section><!--//about-->
    </article><!--//article-->   