        <article class="press article gradient-8">    
            <div class="header-wrapper container text-center">
                <h2 class="title">为什么选择鼎鲸证券？</h2>
            </div><!--//header-wrapper-->
            <section class="press-coverage-section">
                <div class="section-inner container">
                    <h3 class="subtitle sr-only">Press Coverage</h3>
                    <div id="press-slideshow" class="owl-carousel owl-theme text-center">  
                        <div class="item">
                            <div class="item-inner">
                                <h3><strong>平台费用最具优势</strong></h3>
                                 <br>
                                <div class="pe-icon pe-7s-piggy pe-3x"></div>
                                <br>
                                <br>                 
  <table class="table table-bordered dj-w dj-text-sm text-left">
    <thead>
      <tr>
        <th>券商</th>
        <th>行情</th>
        <th>交易费用</th>
        <th>融资费用</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>鼎鲸证券</td>
        <td>免费+Level2</td>
        <td>每笔$2.99</td>
        <td>年化~1.8%</td>
      </tr>
      <tr>
        <td>第一证券</td>
        <td>收费</td>
        <td>每笔$6.95</td>
        <td>年化7.5%</td>
      </tr>
      <tr>
        <td>史考特证券</td>
        <td>收费</td>
        <td>每笔$6.99</td>
        <td>年化8%</td>
      </tr>
            <tr>
        <td>中银证券</td>
        <td>收费</td>
        <td>每笔$25起</td>
        <td>年化4.88%</td>
      </tr>
      <tr>
        <td>国泰证券</td>
        <td>收费</td>
        <td>每笔$20起</td>
        <td>年化~5%</td>
      </tr>
    </tbody>
  </table>

                             
                            </div><!--//item-inner-->
                        </div><!--//item--> 
                        <div class="item">
                            <div class="item-inner">
                                <h3><strong>极致方便的开户流程</strong></h3>
                                <br>
                                <div class="pe-icon pe-7s-coffee pe-3x"></div>
                                <br>
                                <br>
    <div class="dj-container-bd row dj-text-sm">
      3分钟极速开户
      <div class="col-md-12 col-sm-12 col-xs-12 dj-y">
      <input type="text" class="form-control" placeholder="您的手机号">
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 dj-y">
      <div class="col-md-6 col-sm-6 col-xs-6 dj-section">
      <button type="button" class="btn btn-block btn-dj">发送短信认证</button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 dj-section">
      <input type="text" class="form-control" placeholder="输入认证码">
      </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 dj-y">
    <input type="password" class="form-control" placeholder="输入新密码">
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 dj-y">
    <input type="password" class="form-control" placeholder="再输入密码">
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 dj-y">
    <button type="button" class="btn btn-block btn-dj">注册｜重设密码</button>
    </div>
    </div>
                            </div><!--//item-inner-->
                        </div><!--//item--> 
                        <div class="item">
                            <div class="item-inner">
                                <h3><strong>实时交易信号提示</strong></h3>
                                <br>
                                <div class="pe-icon pe-7s-graph3 pe-3x"></div>
                                <br>
                                <br>
                                <div class="dj-container-bd dj-text-sm">
                                <img src="/images/7779979.png" style="max-width:100%;opacity: 0.6">
                                <br><br>
                                <p>股票市场中，交易机会永远存在。关键在于知道何时买入，何时卖出。</p>
                                <p>鼎鲸证券引进美国最新技术，为投资者提供最有效的投资信息，最可靠的交易信号，让投资者赚钱变得轻松。</p>
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->              
                        <div class="item">
                            <div class="item-inner">
                                <h3><strong>大佬仓位跟踪</strong></h3>
                                <br>
                                <div class="pe-icon pe-7s-compass pe-3x"></div>
                                <br>
                                <br>
                                <div class="dj-container-bd dj-text-sm">
                                <p>想知道大佬们在想什么吗？想了解大佬们的投资策略吗？想追踪大佬们的持仓仓位吗？</p>
                                <p>鼎新为您实时推送大佬最新动态，让您从学习大佬中挖掘投资的真谛!</p><br>
                                <img src="/images/2635780.png" style="max-width:100%;opacity: 0.6">
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                    </div><!--//owl-carousel-->  
                </div><!--//section-inner-->                  
            </section>
            <div class="press-cta container text-center dj-section">
                <h3>如需更多信息，请与我们联系。</h3>
                <br>
                <a class="btn btn-cta btn-cta-primary" href="#">联系我们</a>
            </div><!--//container-->
            </article>