<div class="table-responsive">
<table class="table table-hover">
    <thead>
      <tr>
        <th>年份</th>
        <th>一月</th>
        <th>二月</th>
        <th>三月</th>
        <th>四月</th>
        <th>五月</th>
        <th>六月</th>
        <th>七月</th>
        <th>八月</th>
        <th>九月</th>
        <th>十月</th>
        <th>十一</th>
        <th>十二</th>
        <th>YTD</th>
        <th>DD</th>
      </tr>
    </thead>
    <tbody>
	<% data.forEach(function(row) { %>
        <tr>
          <% for(var i=0; i<15; i++) { %>
            <td><%= row[i] %></td>
          <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>
  </div>
