<!DOCTYPE html>
<html lang="zh">
  <head><% include ../partials/bs_head.ejs %>
<script type="text/javascript" src="https://c1cre709.caspio.com/scripts/embed.js"></script>
<script type="text/javascript" src="https://c1cre709.caspio.com/scripts/embed.js"></script>
<script type="text/javascript">try{f_cbload(true, "c1cre709.caspio.com", "826540003a85bb69bcfc4c36ba97");}catch(v_e){;}</script>
<div id="cxkg"><a href="https://c1cre709.caspio.com/dp.asp?AppKey=826540003a85bb69bcfc4c36ba97">Click here</a> to load this Caspio <a href="http://www.caspio.com" title="Online Database">Online Database</a>.</div>

  </head>


<body class="with-top-navbar">
  <% include ../partials/bs_menu.ejs %>   

  <div class="container-fluid container-fluid-spacious">
    <div class="dashhead m-t-md">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6>
    <h2 class="dashhead-title">列表名称</h2>
  </div>
    </div>
  <% include ../partials/table-combo3.ejs %>
  </div>

  <% include ../partials/bs_foot.ejs %>
  </body>
</html>