<!DOCTYPE html>
<html>
<head><% include ../partials/head.ejs %></head>

<body class="landing-page wsite-page-index wsite-theme-light">

  <div class="wrapper">
    <div class="paris-header">
      <div class="container">
        <label class="hamburger"><span></span></label>
        <div class="logo"><% include ../partials/logo.ejs %></div>
        <div class="nav desktop-nav"><% include ../partials/menu.ejs %></div>
      </div><!-- end .container -->
    </div><!-- end .header -->  
          
    <div class="banner-wrap wsite-background wsite-custom-background">
      <div class="container">
        <div class="banner">
          <h2><span class="wsite-text wsite-headline">
  <span id="selectionBoundary_1451590670946_30347064998932183">﻿</span><strong>鼎鲸证券</strong>
</span></h2>
          <p><span class="wsite-text wsite-headline-paragraph">
  <span id="selectionBoundary_1451590701096_8674407403450459">﻿</span><strong><font size="5">您的一站式全球化投资平台</font></strong>
</span></p> 
          <div class="button-wrap"><div style="text-align:center;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-highlight" href="javascript:;" >
<span class="wsite-button-inner">马上开户</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div></div>
          <span id="contentArrow"><span></span></span>
        </div>
      </div>
    </div>

    <div class="main-wrap">
      <div class="container">
        <div class="content-wrap"><% include ../partials/content.ejs %></div>
      </div><!-- end container -->
    </div>

    <div class="footer-wrap">
      <div class="container">
        <div class="footer"><% include ../partials/footer.ejs %></div>
      </div><!-- end container -->
    </div><!-- end footer-wrap -->
  </div>

  <div class="nav mobile-nav">
        <label class="hamburger"><span></span></label>
        <% include ../partials/menu.ejs %>
    </div>

  <script type="text/javascript" src="/javascripts/plugins.js"></script>
  <script type="text/javascript" src="/javascripts/custom.js"></script>
</body>
</html>

