<!DOCTYPE html>
<html>
<head><% include partials/head.ejs %></head>

<body class='no-header-page  wsite-theme-light'>
	
  <div class="wrapper">
    <div class="paris-header">
      <div class="container">
        <label class="hamburger"><span></span></label>
      	<div class="logo"><% include partials/logo.ejs %></div>
        <div class="nav desktop-nav"><% include partials/menu.ejs %></div>
      </div><!-- end .container -->
	  </div><!-- end .header -->  

    <div class="main-wrap">
      <div class="container">
        <div class="content-wrap"><% include partials/content.ejs %></div>
      </div><!-- end container -->
    </div>

    <div class="footer-wrap">
    	<div class="container">
    		<div class="footer"><% include partials/footer.ejs %></div>
    	</div><!-- end container -->
    </div><!-- end footer-wrap -->
	</div>

    <div class="nav mobile-nav">
        <label class="hamburger"><span></span></label>
        <% include partials/menu.ejs %>
    </div>

	<script type="text/javascript" src="/javascripts/plugins.js"></script>
	<script type="text/javascript" src="/javascripts/custom.js"></script>
</body>
</html>