.table-mini3 > thead > tr:first-child > td, 
.table-mini3 > tbody > tr:first-child > td {
  border: none;
  width: 50%;
}

.dj-container { 
  display: block;
  margin: auto;
  width: 300px;
}

.typeahead{
    padding-left: 30px;
    color: #cfd2da !important;
    border-color: transparent !important;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    /*width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;*/
}

.typeahead.tt-input {
background-color: #434857 !important;
}   

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: black;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 230px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: black;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    /*font-size: 16px;
    line-height: 24px;*/
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: black;

}

.tt-suggestion p {
    margin: 0;
}




.table-djmini3 > thead > tr:first-child > td, 
.table-djmini3 > tbody > tr:first-child > td {
  border: none;
  width: 50%;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
   border: none;
   padding-left: 0px;
}

.bringup {
  z-index: 1001;
}