<div class="hr-divider m-y-md">
  <ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
    <li class="active" role="presentation">
      <a href="#sales" role="tab" data-toggle="tab" aria-controls="sales">基金业绩</a>
    </li>
    <li role="presentation">
      <a href="#inventory" role="tab" data-toggle="tab" aria-controls="inventory">基本信息</a>
    </li>
    <li role="presentation">
      <a href="#profit" role="tab" data-toggle="tab" aria-controls="profit">更多属性</a>
    </li>
  </ul>
  </div>
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="sales">
    <% var start = pageIndex[0] %>
    <% include ../partials/dyn-table-full.ejs %>
  </div>

  <div role="tabpanel" class="tab-pane" id="inventory">
    <% var start = pageIndex[1] %>
    <% include ../partials/dyn-table-full.ejs %>
  </div>

  <div role="tabpanel" class="tab-pane" id="profit">
    <% var start = pageIndex[2] %>
    <% include ../partials/dyn-table-full.ejs %>
  </div>
</div>