<!DOCTYPE html>
<html lang="zh">
  <head><% include ../partials/bs_head.ejs %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  
    <!-- Plugins CSS -->     
  <link id="extra-style" rel="stylesheet" href="/sassets/css/styles_mix2.css">
</head>

<body class="with-top-navbar djx-container">
  <% include ../partials/smenu2.ejs %> 
<div class="row">
<div class="container-fluid container-fluid-spacious col-md-12 p-r-md">
  <div class="m-t m-l col-md-4 col-sm-12 col-xs-12">
  <a href="unified" class="icon icon-home" style="font-size:22px; font-weight:900;"> 专户理财</a>
  </div>
<form action="/users/text" method="get" class="form-inline navbar-form navbar-right m-t m-l col-md-8 col-sm-12 col-xs-12">
          <div class="input-with-icon" id="prefetch">
            <input class="typeahead form-control" type="text" name="fundname" placeholder="搜索基金...">
            <span class="icon icon-magnifying-glass"></span>
          </div>
          <button type="button submit" class="btn btn-sm btn-primary">GO!</button>
        </form>
</div>
<div class="container-fluid container-fluid-spacious col-sm-4 col-md-4 p-l-md">
    <div class="dashhead m-t-md">
  <div class="dashhead-titles p-a">
    <!--h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6-->
    <h2 class="dashhead-title">基金／组合列表</h2>
  </div>
</div>
</div>

<div class="container-fluid container-fluid-spacious col-sm-5 col-md-5 p-t-md">
<ul class="nav nav-pills p-y">
  <li class="m-l-md dj-menu active" id="fundlist"><a href="#">基金列表</a></li>
  <li class="m-x-md dj-menu" id="mycollection"><a href="#">我的收藏</a></li>
  <li class="dj-menu" id="mycombolist"><a href="#">我的组合</a></li>
</ul>
</div>

  <div class="container-fluid container-fluid-spacious col-sm-3 col-md-3 p-t-md text-right p-r-md">
  <form action="bulksave" method="get" class="saveForm">
    <button class="btn btn-primary btn m-l m-t saveButton" type="button submit">
  <span class="icon icon-heart"></span>
  收藏基金
  </button>
    <button class="btn btn-primary btn m-l m-t" type="button" data-toggle="modal" data-target="#comboModal" data-backdrop="static" data-keyboard="false">
  <span class="icon icon-squared-plus"></span>
  加入组合
</button>
</form>


<div class="modal" id="comboModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <form action="abc" method="get" class="comboForm" onsubmit="return checkForm(this);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">加入组合</h4>
      </div>
      <div class="modal-body row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <select class="custom-select" name="thelist" onChange="combo(this, 'comboname')" onMouseOut="comboInit(this, 'comboname')">
          <option>新组合</option>
          <% combo.forEach(function(row) { %>
          <option><%= row %></option>
          <% }); %>
        </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
        <input type="text" class="form-control" id="comboname" name="comboname" placeholder="组合名">
        </div>
      </div>
      <div class="modal-actions">
        <button type="button" class="btn-link modal-action" data-dismiss="modal">取消</button>
        <button type="button submit" class="btn-link modal-action comboButton">
          <strong>添加</strong>
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
  </div>
</div>


<form action="/users/usearch" method="get" id="usearch">
  <div class="container-fluid container-fluid-spacious">
<div class="row form">
  <div class="form-group col-sm-4 col-md-4">
    <div class="hr-divider m-t">
      <h3 class="hr-divider-content hr-divider-heading">时间条件</h3>
    </div>

    <div class="p-a">
    <div class="btn-toolbar-item input-with-icon m-b m-r bringup">
      <input type="text" class="form-control" id="startTime" data-provide="datepicker" placeholder="起始日期" name="startTime">
      <span class="icon icon-calendar"></span>
    </div>

    <div class="btn-toolbar-item input-with-icon m-b m-r bringup">
      <input type="text" class="form-control" id="endTime" data-provide="datepicker" placeholder="结束日期" name="endTime">
      <span class="icon icon-calendar"></span>
    </div>
  </div>

  <div class="hr-divider m-t">
      <h3 class="hr-divider-content hr-divider-heading">属性条件</h3>
  </div>
    <div class="p-t">
    <div class="bringup col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        平均年化收益率：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm" id="compoundRate" name="compoundRate" style="width: 83%">
          <option selected="selected" value="-1000">任何收益</option>
          <option value="50">> 50%</option>
          <option value="30">> 30%</option>
          <option value="15">> 15%</option>
          <option value="10">> 10%</option>
          <option value="5">> 5%</option>
          <option value="0">> 0%</option>
          <option value="-5">> -5%</option>
        </select>
      </div>
    </div>
    </div>
    <div class="bringup col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        最大回撤：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm" id="drawDown" name="drawDown" style="width: 83%">
          <option selected="selected" value="1000">任何回撤</option>
          <option value="50">< 50%</option>
          <option value="30">< 30%</option>
          <option value="15">< 15%</option>
          <option value="10">< 10%</option>
          <option value="5">< 5%</option>
        </select>
      </div>
    </div>
    </div>
    <div class="bringup col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        资产规模：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm" id="aum" name="aum" style="width: 83%">
          <option selected="selected" value="-1">任何规模</option>
          <option value="100">> 1亿美元</option>
          <option value="50">> 5千万美元</option>
          <option value="20">> 2千万美元</option>
          <option value="10">> 1千万美元</option>
        </select>
      </div>
    </div>
    </div>
    <div class="bringup col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        最低投资：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm" id="minInv" name="minInv" style="width: 83%">
          <option selected="selected" value="1000000">任何投资</option>
          <option value="1000"><= 1百万美元</option>
          <option value="500"><= 50万美元</option>
          <option value="200"><= 20万美元</option>
          <option value="100"><= 10万美元</option>
          <option value="10"><= 1万美元</option>
        </select>
      </div>
    </div>
    </div>
    </div>

      <div class="form-group col-xs-6 col-sm-6 col-md-6 m-t-md bringup">
      <button type="button submit" class="btn btn-lg btn-primary">立即搜索</button>
  </div>
        <div class="form-group col-xs-6 col-sm-6 col-md-6 m-t-md bringup">
      <button type="button submit" class="btn btn-lg btn-primary">重置选项</button>
  </div>
  </div>

    <div class="container-fluid container-fluid-spacious col-sm-8 col-md-8 text-center m-t">
	<div id="tablelist">
	</div>

  </div>

</div>
</div>
</form>
<!--% include ../partials/sfooter1.ejs % -->
  <% include ../partials/bs_foot.ejs %>
  <script type="text/javascript">
function comboInit(thelist)
{
  comboname = document.getElementById(comboname); 
  var idx = thelist.selectedIndex;
  var content = thelist.options[idx].innerHTML;
  if(idx == 0)
    content = "";
  if(comboname.value == ""){
    comboname.value = content;
  }
}
function combo(thelist, comboname)
{
  comboname = document.getElementById(comboname);  
  var idx = thelist.selectedIndex;
  var content = thelist.options[idx].innerHTML;
  if(idx == 0)
    content = "";
  comboname.value = content;
}
</script>
  </body>
</html>
