<!DOCTYPE html>
<html lang="zh">
  <head><% include ../partials/bs_head.ejs %></head>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  
    <!-- Plugins CSS -->     
  <link id="extra-style" rel="stylesheet" href="/sassets/css/styles_mix2.css">


<body class="with-top-navbar">
  <% include ../partials/smenu2.ejs %> 
<div class="row">
<div class="container-fluid container-fluid-spacious col-md-4 p-x-lg p-y">
    <div class="dashhead m-t-md">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6>
    <h2 class="dashhead-title">海鲸证券－专户理财</h2>
  </div>
</div>
</div>
<div class="container-fluid container-fluid-spacious col-md-8 p-a-lg">
<ul class="nav nav-pills p-y">
  <li class="active"><a href="#">基金列表</a></li>
  <li class=""><a href="#">我的收藏</a></li>
  <li class=""><a href="#">我的组合</a></li>
</ul>
</div>
</div>

<form action="/users/searchlist" method="get">
  <div class="container-fluid container-fluid-spacious">
<div class="row form">
  <div class="form-group col-md-3">
    <div class="hr-divider m-t">
      <h3 class="hr-divider-content hr-divider-heading">时间条件</h3>
    </div>

    <div class="p-a">
    <div class="btn-toolbar-item input-with-icon m-b m-r">
      <input type="text" class="form-control" data-provide="datepicker" placeholder="起始日期" name="startTime">
      <span class="icon icon-calendar"></span>
    </div>

    <div class="btn-toolbar-item input-with-icon m-b m-r">
      <input type="text" class="form-control" data-provide="datepicker" placeholder="结束日期" name="endTime">
      <span class="icon icon-calendar"></span>
    </div>
  </div>

  <div class="hr-divider m-t">
      <h3 class="hr-divider-content hr-divider-heading">属性条件</h3>
  </div>
    <div class="p-t">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        复合年回报率：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm" name="compoundRate">
          <option selected="selected" value="-100">任何回报</option>
          <option value="100">大于100%</option>
          <option value="80">大于80%</option>
          <option value="50">大于50%</option>
          <option value="30">大于30%</option>
          <option value="15">大于15%</option>
          <option value="10">大于10%</option>
          <option value="5">大于5%</option>
          <option value="0">大于0%</option>
        </select>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        最大回撤：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm">
          <option>任何回撤</option>
          <option>First option</option>
          <option>Another option</option>
          <option>Alternative</option>
          <option>Last one</option>
        </select>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        资产规模：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm">
          <option>任何规模</option>
          <option>First option</option>
          <option>Another option</option>
          <option>Alternative</option>
          <option>Last one</option>
        </select>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        最低投资：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm">
          <option>任何投资</option>
          <option>First option</option>
          <option>Another option</option>
          <option>Alternative</option>
          <option>Last one</option>
        </select>
      </div>
    </div>
    </div>
    </div>

      <div class="form-group col-xs-12 col-sm-12 col-md-12 m-t-md">
      <button type="button submit" class="btn btn-lg btn-primary">立即搜索</button>
  </div>
  </div>

    <div class="container-fluid container-fluid-spacious col-md-9 text-center">
 AJAX控制页面内容显示！！！
  </div>

</div>
</div>
</form>
<!--% include ../partials/sfooter1.ejs % -->
  <% include ../partials/bs_foot.ejs %>
  </body>
</html>
