<!DOCTYPE html>
<html lang="zh">
  <head><% include ../partials/bs_head.ejs %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  
    <!-- Plugins CSS -->     
  <link id="extra-style" rel="stylesheet" href="/sassets/css/styles_mix2.css">
</head>

<body class="with-top-navbar djx-container">
  <% include ../partials/smenu2.ejs %> 
<div class="row">
<div class="container-fluid container-fluid-spacious col-md-12 p-r-md">
<form action="/users/text" method="get" class="form-inline navbar-form navbar-right m-t m-l">
          <div class="input-with-icon" id="prefetch">
            <input class="typeahead form-control" type="text" name="fundname" placeholder="搜索基金...">
            <span class="icon icon-magnifying-glass"></span>
          </div>
          <button type="button submit" class="btn btn-sm btn-primary">GO!</button>
        </form>
</div>
<div class="container-fluid container-fluid-spacious col-sm-4 col-md-4 p-l-md">
    <div class="dashhead m-t-md">
  <div class="dashhead-titles p-x p-b">
    <h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6>
    <h2 class="dashhead-title">专户理财</h2>
  </div>
</div>
</div>
<div class="container-fluid container-fluid-spacious col-sm-8 col-md-8 p-t-md">
<ul class="nav nav-pills p-y">
  <li class="m-l-md dj-menu active" id="fundlist"><a href="#">基金列表</a></li>
  <li class="m-x-md dj-menu" id="mycollection"><a href="#">我的收藏</a></li>
  <li class="dj-menu" id="mycombolist"><a href="#">我的组合</a></li>
</ul>
</div>

</div>


<form action="/users/searchlist" method="get" id="searchList">
  <div class="container-fluid container-fluid-spacious">
<div class="row form">
  <div class="form-group col-sm-4 col-md-3">
    <div class="hr-divider m-t">
      <h3 class="hr-divider-content hr-divider-heading">时间条件</h3>
    </div>

    <div class="p-a">
    <div class="btn-toolbar-item input-with-icon m-b m-r">
      <input type="text" class="form-control" id="startTime" data-provide="datepicker" placeholder="起始日期" name="startTime">
      <span class="icon icon-calendar"></span>
    </div>

    <div class="btn-toolbar-item input-with-icon m-b m-r">
      <input type="text" class="form-control" id="endTime" data-provide="datepicker" placeholder="结束日期" name="endTime">
      <span class="icon icon-calendar"></span>
    </div>
  </div>

  <div class="hr-divider m-t">
      <h3 class="hr-divider-content hr-divider-heading">属性条件</h3>
  </div>
    <div class="p-t">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        年复回报：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm" id="compoundRate" name="compoundRate">
          <option selected="selected" value="-100">任何回报</option>
          <option value="50">> 50%</option>
          <option value="30">> 30%</option>
          <option value="15">> 15%</option>
          <option value="10">> 10%</option>
          <option value="5">> 5%</option>
          <option value="0">> 0%</option>
          <option value="-5">> -5%</option>
        </select>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        最大回撤：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm">
          <option>任何回撤</option>
          <option value="50">< 50%</option>
          <option value="30">< 30%</option>
          <option value="15">< 15%</option>
          <option value="10">< 10%</option>
          <option value="5">< 5%</option>
        </select>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        资产规模：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm">
          <option>任何规模</option>
          <option>> 100M</option>
          <option>> 50M</option>
          <option>> 25M</option>
          <option>> 10M</option>
        </select>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="m-b">
        最低投资：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm">
          <option>任何投资</option>
          <option>< 1M</option>
          <option>< 500K</option>
          <option>< 250K</option>
          <option>< 100K</option>
          <option>< 10K</option>
        </select>
      </div>
    </div>
    </div>
    </div>

      <div class="form-group col-xs-12 col-sm-12 col-md-12 m-t-md">
      <button type="button submit" class="btn btn-lg btn-primary">立即搜索</button>
  </div>
  </div>

    <div class="container-fluid container-fluid-spacious col-sm-8 col-md-9 text-center m-t">
	<div id="tablelist">
	</div>

  </div>

</div>
</div>
</form>
<!--% include ../partials/sfooter1.ejs % -->
  <% include ../partials/bs_foot.ejs %>
  </body>
</html>
