<!DOCTYPE html>
<html lang="zh">
<head><% include ../partials/bs_head.ejs %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  
    <!-- Plugins CSS -->     
  <link id="extra-style" rel="stylesheet" href="/sassets/css/styles_mobile.css">
</head>

<body class="with-top-navbar djx-container">
  <% include ../partials/smenu2.ejs %>
  <div class="row">
<div class="container-fluid container-fluid-spacious col-sm-4 col-md-4 p-l-md">
    <div class="dashhead m-t-md">
  <div class="dashhead-titles p-a">
    <!--h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6-->
    <h2 class="dashhead-title">免责声明</h2>
  </div>
</div>
</div>
</div>  
  <div class="container-fluid container-fluid-spacious">
<div class="hr-divider m-y-md">
</div>
<p class="col-xs-12 col-sm-12 col-md-12 m-t-lg">
所有投资都存在风险。任何一支证券或金融产品的历史数据都不能保证其未来的表现及回报。虽然投资多样化可以帮助分散风险，但是并不能在市场低迷时确保您获益或防止您损失。投资证券或金融产品总会存在潜在的亏损可能。投资者在进行投资前需考虑自身的投资目标及风险承受能力。
当您使用本产品时，即表示您已完全了解可能存在的风险并同意承担业务存在的全部风险，并表明您已阅读、了解并接受本声明内所有内容。本产品有权于任意时间修改或变更本声明内容，请您随时注意。您于任何修改或变更后继续使用本产品时，都将视为您已阅读、了解并接受该等修改或变更
您承诺绝不为任何非法目的或以任何非法方式使用海鲸的产品，并承诺遵守相关法例及一切使用互联网的国际惯例。您同意并保证不得利用海鲸所提供的服务从事侵害他人权益或任何违法行为。
本产品所提供的服务有时可能会出现中断、故障等现象，或许将造成您使用上的不便或经济上的损失等情形。您于使用本产品时宜自行采取防护措施。因您使用（或无法使用）本产品所提供的服务而造成的损害不负任何赔偿责任。
<br>
海鲸证券以及其控股公司或任何附属公司将竭力确保所提供信息的可靠性和准确性，但不能保证其绝对可靠和准确，本产品中的行情价格、图、评论和购买或者其他信息应该谨慎作为仅参考使用。海鲸证券不会承担因任何不准确或遗漏而引起损失或损害的任何责任。
本产品随时会与其他公司合作，并对其提供包括但不限于新闻、资讯等不同的内容进行刊登，刊登时均会注明内容提供者。基于尊重内容提供者之知识产权，本产品对其提供的内容并不做实质性的审查或修改，对该内容之真伪亦不负任何责任，请您自行判断。若您认为某些内容涉及侵权或有所不实，请径自向该内容的提供者反映意见。
<br>
本产品所使用的软件或程序、产品上所有内容，包括但不限于著作、图片、档案、资讯、资料、产品架构、产品设计，均由海鲸证券或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、营业秘密与专有技术等。任何人不得擅自使用、修改、重制、公开播送、改作、散布、发行、公开发表、进行还原工程、解编或反向组译。若您准备引用或转载前述软件、程序或产品内容，必须依法取得海鲸证券或其他权利人的事前书面同意。如若违反，则应负损害赔偿责任（包括但不限于诉讼费及律师费等）。
<br>
<br>
盈透证券是美国注册的经纪商-经销商、期货佣金商及外汇交易商会员，受美国证券交易委员会SEC、商品期货交易委员会CFTC、及国家期货业协会NFA监管，并且是美国金融业管理局 FINRA及其他规管自律组织的会员。美国盈透证券不被隶属于、也不背书或推荐任何金融顾问或经纪商，包括海鲸证券。盈透证券为鼎鲸证券介绍的客户提供执行和清算服务。以上的任何信息均不构成推荐、建议，或盈透招揽买入、卖出或持有任何证券、金融产品或工具或参与任何具体投资策略的要约。美国盈透不参与并且对于此网站提供的信息准确度及完成度不作任何陈述及不承担任何责任。想获得更多的关于盈透证券的信息，敬请访问下面网址www.interactivebrokers.com 或www.ibkr.com.cn
</p>

<div class="text-center col-xs-12 col-sm-12 col-md-12 m-t-md">
<div class="radio-inline custom-control custom-radio m-r-lg">
  <label>
    <input type="radio" id="radio1" name="radio" checked>
    <span class="custom-control-indicator"></span>
    本人不同意
  </label>
</div>
<div class="radio-inline custom-control custom-radio m-r-lg">
  <label>
    <input type="radio" id="radio2" name="radio">
    <span class="custom-control-indicator"></span>
    本人同意
  </label>
</div>
</div>

<div class="form-group text-right col-xs-12 col-sm-12 col-md-12 m-y">
      <button type="button submit" class="btn btn-lg btn-primary" style="width:120px;">提交</button>
</div> 
</div>

  <% include ../partials/bs_foot.ejs %>

  <script>
var date = new Date();
var day = date.getDate();
var month = date.getMonth();
var year = date.getFullYear();
document.getElementById("demo").innerHTML = year+'-'+month+'-'+day;
</script>

</body>
</html>


