<!DOCTYPE html>
<html lang="zh">
<head><% include ../partials/bs_head.ejs %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  
    <!-- Plugins CSS -->     
  <link id="extra-style" rel="stylesheet" href="/sassets/css/styles_mobile.css">
</head>

<body class="with-top-navbar djx-container">
  <% include ../partials/smenu2.ejs %>
  <div class="row">
<div class="container-fluid container-fluid-spacious col-sm-4 col-md-4 p-l-md">
    <div class="dashhead m-t-md">
  <div class="dashhead-titles p-a">
    <!--h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6-->
    <h2 class="dashhead-title">注册协议</h2>
  </div>
</div>
</div>
</div>  
  <div class="container-fluid container-fluid-spacious">
<div class="hr-divider m-y-md">
</div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12 m-t-lg">
  <div>
  <div class="m-b">法律承认</div>
  <textarea class="form-control" rows="6" id="comment">盈透证券是美国注册的经纪商-经销商、期货佣金商及外汇交易商会员，受美国证券交易委员会SEC、商品期货交易委员会CFTC、及国家期货业协会NFA监管，并且是美国金融业管理局 FINRA及其他规管自律组织的会员。美国盈透证券不被隶属于、也不背书或推荐任何金融顾问或经纪商，包括海鲸证券。盈透证券为鼎鲸证券介绍的客户提供执行和清算服务。以上的任何信息均不构成推荐、建议，或盈透招揽买入、卖出或持有任何证券、金融产品或工具或参与任何具体投资策略的要约。美国盈透不参与并且对于此网站提供的信息准确度及完成度不作任何陈述及不承担任何责任。想获得更多的关于盈透证券的信息，敬请访问下面网址www.interactivebrokers.com 或www.ibkr.com.cn</textarea>
  </div>
  <div class="text-center m-t-md">
  <div class="radio-inline custom-control custom-radio m-r-lg">
  <label>
    <input type="radio" id="radio1" name="radio1" checked>
    <span class="custom-control-indicator"></span>
    本人不同意
  </label>
</div>
<div class="radio-inline custom-control custom-radio m-r-lg">
  <label>
    <input type="radio" id="radio2" name="radio1">
    <span class="custom-control-indicator"></span>
    本人同意
  </label>
</div>
</div>


  <div>
  <div class="m-y">法律承认</div>
  <textarea class="form-control" rows="6" id="comment">盈透证券是美国注册的经纪商-经销商、期货佣金商及外汇交易商会员，受美国证券交易委员会SEC、商品期货交易委员会CFTC、及国家期货业协会NFA监管，并且是美国金融业管理局 FINRA及其他规管自律组织的会员。美国盈透证券不被隶属于、也不背书或推荐任何金融顾问或经纪商，包括海鲸证券。盈透证券为鼎鲸证券介绍的客户提供执行和清算服务。以上的任何信息均不构成推荐、建议，或盈透招揽买入、卖出或持有任何证券、金融产品或工具或参与任何具体投资策略的要约。美国盈透不参与并且对于此网站提供的信息准确度及完成度不作任何陈述及不承担任何责任。想获得更多的关于盈透证券的信息，敬请访问下面网址www.interactivebrokers.com 或www.ibkr.com.cn</textarea>
  </div>
  <div class="text-center m-t-md">
  <div class="radio-inline custom-control custom-radio m-r-lg">
  <label>
    <input type="radio" id="radio3" name="radio2" checked>
    <span class="custom-control-indicator"></span>
    本人不同意
  </label>
</div>
<div class="radio-inline custom-control custom-radio m-r-lg">
  <label>
    <input type="radio" id="radio4" name="radio2">
    <span class="custom-control-indicator"></span>
    本人同意
  </label>
</div>
</div>


  <div>
  <div class="m-y">法律承认</div>
  <textarea class="form-control" rows="6" id="comment">盈透证券是美国注册的经纪商-经销商、期货佣金商及外汇交易商会员，受美国证券交易委员会SEC、商品期货交易委员会CFTC、及国家期货业协会NFA监管，并且是美国金融业管理局 FINRA及其他规管自律组织的会员。美国盈透证券不被隶属于、也不背书或推荐任何金融顾问或经纪商，包括海鲸证券。盈透证券为鼎鲸证券介绍的客户提供执行和清算服务。以上的任何信息均不构成推荐、建议，或盈透招揽买入、卖出或持有任何证券、金融产品或工具或参与任何具体投资策略的要约。美国盈透不参与并且对于此网站提供的信息准确度及完成度不作任何陈述及不承担任何责任。想获得更多的关于盈透证券的信息，敬请访问下面网址www.interactivebrokers.com 或www.ibkr.com.cn</textarea>
  </div>
  <div class="text-center m-t-md">
  <div class="radio-inline custom-control custom-radio m-r-lg">
  <label>
    <input type="radio" id="radio5" name="radio3" checked>
    <span class="custom-control-indicator"></span>
    本人不同意
  </label>
</div>
<div class="radio-inline custom-control custom-radio m-r-lg">
  <label>
    <input type="radio" id="radio6" name="radio3">
    <span class="custom-control-indicator"></span>
    本人同意
  </label>
</div>
</div>

  </div>

<div class="form-group text-right col-xs-12 col-sm-12 col-md-12 m-y">
      <button type="button submit" class="btn btn-lg btn-primary" style="width:120px;">提交</button>
</div> 
</div>

  <% include ../partials/bs_foot.ejs %>

  <script>
var date = new Date();
var day = date.getDate();
var month = date.getMonth();
var year = date.getFullYear();
document.getElementById("demo").innerHTML = year+'-'+month+'-'+day;
</script>

</body>
</html>


