<!DOCTYPE html>
<html lang="zh">
<head><% include ../partials/bs_head.ejs %>
</head>
<body class="with-top-navbar">
  <% include ../partials/bs_menu.ejs %>  
  <div class="container-fluid container-fluid-spacious">
    <div class="dashhead m-t-md">
      <div class="dashhead-titles">
      <h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6>
      <h2 class="dashhead-title">注册认证</h2>
      </div>
    </div>
<script type="text/javascript" src="https://c1cre709.caspio.com/scripts/embed.js"></script>
<script type="text/javascript">try{f_cbload(true, "c1cre709.caspio.com", "82654000d00865ba1de74e2eb995");}catch(v_e){;}</script>
<div id="cxkg"><a href="https://c1cre709.caspio.com/dp.asp?AppKey=82654000d00865ba1de74e2eb995">Click here</a> to load this Caspio <a href="http://www.caspio.com" title="Online Database">Online Database</a>.</div>
  </div>
</body>
</html>