<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="zh"> <!--<![endif]-->  
<head>
    <title>鼎鲸证券</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="/sassets/images/extra/favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <!-- Global CSS -->
    
    <link rel="stylesheet" href="/sassets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/sassets/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="/sassets/plugins/font-awesome/css/font-awesome.css">  
    <link rel="stylesheet" href="/sassets/plugins/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/sassets/plugins/pe-icon-7-stroke/css/helper.css">   
    <link rel="stylesheet" href="/sassets/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/sassets/plugins/owl-carousel/owl.theme.css">       
    <link rel="stylesheet" href="/sassets/plugins/fullPage.js/jquery.fullPage.css">
    
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/sassets/css/styles.css">
    <link id="extra-style" rel="stylesheet" href="/sassets/css/styles_extra.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head> 

<body class="homepage">       
    
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right text-center" role="navigation">
        <ul class="list-unstyled menu-links">
            <li class="nav-item active"><a href="/">鼎鲸首页</a></li>
            <li class="nav-item"><a href="#">软件下载</a></li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">关于<i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">隐私声明</a></li>
                    <li><a href="#">商务合作</a></li>                
                </ul>                            
            </li><!--//dropdown--> 
            <li class="nav-item"><a href="/users/home">登录｜注册</a></li>
        </ul>
    </nav>
    
    <div class="canvas-wrapper">    
        <!-- ******HEADER****** --> 
        <header id="header" class="header navbar-fixed-top">  
            <div class="container">
                <h1 class="logo">
                    <a href="/">
                        <img src="/sassets/images/extra/logo.png" height="35" width="40" style="PADDING-BOTTOM: 5px">
                        <span>W<small><strong>HALE</strong></small>B<small><strong>ROKERS</strong></small></span>
                    </a> 
                </h1><!--//logo-->          
                
                <div class="navbar-wrapper">
                  <span class="navbar-label">MENU</span>
                  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-recalc="false" data-canvas="body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div><!--//navbar -->
            </div><!--//container-->
        </header><!--//header-->   
        
        <% include ../partials/smain.ejs %>
        
            
        <!-- ******FOOTER****** --> 
        
        <footer class="footer">
            <div class="container text-center">
                <nav class="links">
                    <ul class="list-inline">
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">商务合作</a></li>
                        <li><a href="#">加入我们</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>                    
                </nav>
                <br>
                <ul class="links legal-links list-inline">
                    <li><a href="#">隐私声明</a></li>
                    <li class="last"><a href="#">同意条款</a></li>
                </ul><!--//legal-links-->
                <small class="copyright">版权所有 &copy; 2016 <a href="http://www.whalebrokers.com/">鼎鲸证券</a></small>
                
            </div><!--//container-->
        </footer><!--//footer-->
    </div><!--//canvas-wrapper-->
     
    <!-- Main Javascript -->          
    <script type="text/javascript" src="/sassets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/sassets/plugins/bootstrap/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="/sassets/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>             
    <script type="text/javascript" src="/sassets/plugins/jquery-placeholder/jquery.placeholder.js"></script>                                                                  
    <script type="text/javascript" src="/sassets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/sassets/js/main.js"></script>
    
    <!-- Fullpage.js -->
    <script type="text/javascript" src="/sassets/plugins/fullPage.js/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="/sassets/js/fullpage-custom.js"></script> 
    
    <!-- Owl Carousel -->
    <script type="text/javascript" src="/sassets/plugins/owl-carousel/owl.carousel.js"></script> 
    <script type="text/javascript" src="/sassets/js/owl-custom.js"></script> 
   
    
    <!-- Form Validation -->
    <script type="text/javascript" src="/sassets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/sassets/plugins/jquery.validate.min.js"></script> 
    <script type="text/javascript" src="/sassets/js/form-validation-custom.js"></script>
    
    <!-- Form iOS fix -->
    <script type="text/javascript" src="/sassets/plugins/isMobile/isMobile.min.js"></script>
    <script type="text/javascript" src="/sassets/js/form-mobile-fix.js"></script>
    
    <!-- Vimeo video -->
    <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script type="text/javascript" src="/sassets/js/vimeo.js"></script>

    <script type="text/javascript">
    /* card flip */
$(".flip").hover(function(){
  $(this).find(".card").toggleClass("flipped");
  return false;
});

$('#b1').css({marginTop: '-=30px'});
$('#b2').css({marginTop: '-=30px'});
$('#b3').css({marginTop: '-=30px'});
    </script>
</body>
</html> 

