<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="zh"> <!--<![endif]-->  
<% include ../partials/shead.ejs %>

<body class="homepage">       
    
    <% include ../partials/smenu1.ejs %>

    <div class="canvas-wrapper">    
      <% include ../partials/smain.ejs %>  
      <% include ../partials/sfooter1.ejs %>
    </div><!--//canvas-wrapper-->
     
<% include ../partials/sfoot.ejs %>
</body>
</html> 

