<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="zh"> <!--<![endif]-->  
<% include ../partials/shead.ejs %>

<body>       
    
    <% include ../partials/smenu.ejs %>

    <div class="canvas-wrapper">
      <% if(page=='trade') { %>   
         <% include ../partials/strade.ejs%>
      <% } else if (page=='contact') { %>   
         <% include ../partials/smain.ejs%>
      <% } else if (page=='smart') { %>   
         <% include ../partials/ssmart.ejs%>
      <% } else { %>
         <% include ../partials/smain.ejs%>
      <% } %>
      <% include ../partials/sfooter.ejs %>
    </div><!--//canvas-wrapper-->
     
<% include ../partials/sfoot.ejs %>
</body>
</html> 

