<!DOCTYPE html>
<html lang="zh">
<head><% include ../partials/bs_head.ejs %>
</head>
<body class="with-top-navbar">
  <% include ../partials/bs_menu.ejs %>  
  <div class="container-fluid container-fluid-spacious">
    <div class="dashhead m-t-md">
      <div class="dashhead-titles">
      <h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6>
      <h2 class="dashhead-title">用户登录</h2>
      </div>
    </div>
      <div class="hr-divider m-t">
      <h3 class="hr-divider-content hr-divider-heading"></h3>
    </div>
    <div class="dj-container">
    <div class="p-a">
      <input type="text" class="form-control m-t" placeholder="您的手机号">
      <input type="password" class="form-control m-t" placeholder="请输入密码">
    <div class="text-right">
    <a href="/users/reg">忘记密码</a>
    </div>
    <a href="/users/home">
    <button type="button" class="btn btn-block btn-primary m-y">登录</button>
    </a>
     <div class="text-center">
    还没有账户？<a href="/users/reg">立即开户</a>
    </div>
    </div>
    </div>
  </div>
  <% include ../partials/bs_foot.ejs %>
</body>
</html>