<!DOCTYPE html>
<html lang="zh">
<head><% include ../partials/bs_head.ejs %>
</head>
<body class="with-top-navbar">
  <% include ../partials/bs_menu.ejs %>  
  <div class="container-fluid container-fluid-spacious">
    <div class="dashhead m-t-md">
      <div class="dashhead-titles">
      <h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6>
      <h2 class="dashhead-title">注册｜重设密码</h2>
      </div>
    </div>
      <div class="hr-divider m-t">
      <h3 class="hr-divider-content hr-divider-heading"></h3>
    </div>
    <div class="dj-container">
    <div class="p-a">
    <form action="/tw" method="get">
      <input type="text" class="form-control m-t" placeholder="您的手机号" name="username" 
      value=<%= code %> 
      <% if(code!='') {%>
         disabled
      <% } %>
      >
      <div class="flextable m-t">
  <div class="flextable-item">
      <button type="button submit" class="btn btn-primary-outline"
      <% if(code!='') {%>
         disabled
      <% } %>
      >发送短信认证
      </button>
  </div>
  <div class="flextable-item flextable-primary">
    <div class="btn-group">
    <input type="text" class="form-control" placeholder="输入认证码" name="code"
      <% if(code=='') {%>
         disabled
      <% } %>
    >
    </div>
  </div>
</div>
    <input type="password" class="form-control m-t" placeholder="输入新密码" name="pass1"
      <% if(code=='') {%>
         disabled
      <% } %>
    >
    <input type="password" class="form-control m-t" placeholder="再输入密码" name="pass2"
      <% if(code=='') {%>
         disabled
      <% } %>
    >
    <button type="button submit" class="btn btn-block btn-primary m-y"
      <% if(code=='') {%>
         disabled
      <% } %>
    >注册｜重设密码</button>
    </form>
    </div>
    </div>
  </div>
  <% include ../partials/bs_foot.ejs %>
</body>
</html>